workflows/2025-11-24_20-33-25_My workflow 35.json
{
  "updatedAt": "2025-09-08T20:49:56.000Z",
  "createdAt": "2025-09-08T19:14:13.296Z",
  "id": "SP0mcUIA3OfhFzKh",
  "name": "My workflow 35",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "874a5bfe-256d-4063-af3d-ed3fedd2d5f6",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3248,
        -96
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "evInstance",
              "value": "mm"
            },
            {
              "name": "areaId",
              "value": "3"
            },
            {
              "name": "adminNumber",
              "value": "59177112393"
            },
            {
              "name": "evBaseUrl",
              "value": "https://hooks.ril.serviciocliente.site"
            },
            {
              "name": "evApiKey",
              "value": "471D0C16CA24-4397-A5EE-F596DB01669E"
            }
          ]
        },
        "options": {}
      },
      "id": "15208404-f58a-4811-a3da-b9aed681190a",
      "name": "Set Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -3072,
        -96
      ]
    },
    {
      "parameters": {
        "url": "https://apirrhh.envibol.site/api/v1/N8n/Areas",
        "options": {}
      },
      "id": "e692456c-3081-4208-8142-ef1bef307a02",
      "name": "HTTP Areas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2880,
        -96
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://apirrhh.envibol.site/api/v1/N8n/GetUnidad/' + $node[\"Set Params\"].json.areaId }}",
        "options": {}
      },
      "id": "b231f790-12cc-4a9a-bf32-d8b1d6c56c71",
      "name": "HTTP GetUnidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2688,
        -96
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "c8516cfa-5b29-4cfd-b366-4f737e89b214",
      "name": "Split Out Items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -2512,
        -96
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "areaName",
              "value": "={{ (function(){ const areas = ($item(0).$node[\"HTTP Areas\"].json.data || []); const id = Number($item(0).$node[\"Set Params\"].json.areaId); const a = areas.find(x => x.idgenClasificador === id) || {}; return (a.descripcion || '').trim(); })() }}"
            },
            {
              "name": "fullName",
              "value": "={{ [$json.nombre].filter(Boolean).join(' ').replace(/\\s+/g,' ').trim() }}"
            },
            {
              "name": "number",
              "value": "={{ String($json.celular || '').replace(/\\D/g,'') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "366c98cf-331a-4be6-b7a8-d56df7f44091",
      "name": "Set Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2336,
        -96
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{ '隆Hola, ' + $json.fullName + '! \\n\\nBuenos d铆as y un excelente inicio de jornada. En ENVIBOL, valoramos mucho tu compromiso en el 谩rea de ' + $json.areaName + '. ' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "75e0f0c0-c026-44c5-bb3f-58b559974af3",
      "name": "Set Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2160,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "878ec394-5fe0-4614-988b-6632968d581f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "db12f9ee-b051-4343-9ad7-70fc5e94d123",
      "name": "IF Tel v谩lido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1968,
        -96
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $item(0).$node[\"Set Params\"].json.evInstance }}",
        "remoteJid": "={{ $json.number + '@s.whatsapp.net' }}",
        "options_message": {
          "delay": 3000
        }
      },
      "id": "24a606aa-4c5c-427e-9a1a-20e86438ed49",
      "name": "Evolution API: Enviar texto",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -1792,
        -160
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "ENVIADO"
            },
            {
              "name": "log",
              "value": "={{ $item(0).$node[\"Set Normalize\"].json.number + ' 路 ' + $item(0).$node[\"Set Normalize\"].json.fullName }}"
            },
            {
              "name": "msgId",
              "value": "={{ $json.data?.key?.id || $json.key?.id }}"
            },
            {
              "name": "waStatus",
              "value": "={{ $json.status || $json.data?.status }}"
            },
            {
              "name": "remoteJid",
              "value": "={{ $json.data?.key?.remoteJid || $json.key?.remoteJid || ($item(0).$node[\"Set Normalize\"].json.number + '@s.whatsapp.net') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c08277b8-95b2-4f30-8b7c-0252f11c9a92",
      "name": "Set Sent (log)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1584,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(0).$node[\"Set Params\"].json.evBaseUrl + '/chat/findStatusMessage/' + $item(0).$node[\"Set Params\"].json.evInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "c6fec8ba-04c3-4f8f-bd9b-24ddc7119123",
      "name": "HTTP: findStatusMessage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1184,
        -160
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "finalStatus",
              "value": "={{ ($json.data?.[0]?.status || $json[0]?.status || $json.status || 'PENDING') }}"
            },
            {
              "name": "delivered",
              "value": "={{ ['DELIVERY_ACK','READ'].includes(($json.data?.[0]?.status || $json[0]?.status || $json.status || '').toUpperCase()) ? 'true':'false' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6899b7b5-21ea-4a7d-8129-74e021b1c7a6",
      "name": "Set Delivered?",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -960,
        -160
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "NO_ENVIADO_TEL_INVALIDO"
            },
            {
              "name": "log",
              "value": "={{ $item(0).$node[\"Set Normalize\"].json.number + ' 路 ' + $item(0).$node[\"Set Normalize\"].json.fullName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3e627049-d943-4845-8d82-140d56af44e7",
      "name": "Set invalid (log)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1792,
        0
      ]
    },
    {
      "parameters": {},
      "id": "93bd92b0-ddb3-4e12-b35a-68215e137c78",
      "name": "Merge Logs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -752,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet enviados=0, noEnviados=0, entregados=0;\nfor (const it of items) {\n  const st = (it.json.status || '').toUpperCase();\n  if (st === 'ENVIADO') enviados++;\n  if (['NO_ENVIADO_TEL_INVALIDO','NO_ENVIADO','ERROR'].includes(st)) noEnviados++;\n  if ((it.json.delivered||'').toString() === 'true') entregados++;\n}\nconst area = $item(0).$node['Set Normalize'].json.areaName || 'planificaci贸n';\nconst reportText = `titulo: Reporte de ${area} (motivaci贸n)\\n` +\n`enviados: ${enviados}\\n` + `no enviados: ${noEnviados}\\n` + `entregados: ${entregados}`;\nreturn [{ json: { reportText } }];\n"
      },
      "id": "e1474bef-b291-41c9-862b-8acbe7e770bc",
      "name": "Code 路 Build Report Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -96
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $item(0).$node[\"Set Params\"].json.evInstance }}",
        "remoteJid": "={{ $item(0).$node[\"Set Params\"].json.adminNumber + '@s.whatsapp.net' }}",
        "options_message": {}
      },
      "id": "0e37c638-3620-420b-a324-171c1bb0bdb2",
      "name": "Evolution API: Enviar resumen",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -368,
        -96
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "skipped",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "370db6ae-100c-4672-9332-605551500b04",
      "name": "No-op (tel inv谩lido)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1792,
        160
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "6169ed39-87bd-4731-891c-2e4300995cbd",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1392,
        -160
      ],
      "webhookId": "7c0b3aea-85e2-4847-a0f7-24713afed5d2"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Params": {
      "main": [
        [
          {
            "node": "HTTP Areas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Areas": {
      "main": [
        [
          {
            "node": "HTTP GetUnidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GetUnidad": {
      "main": [
        [
          {
            "node": "Split Out Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Items": {
      "main": [
        [
          {
            "node": "Set Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Normalize": {
      "main": [
        [
          {
            "node": "Set Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message": {
      "main": [
        [
          {
            "node": "IF Tel v谩lido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tel v谩lido": {
      "main": [
        [
          {
            "node": "Evolution API: Enviar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set invalid (log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API: Enviar texto": {
      "main": [
        [
          {
            "node": "Set Sent (log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sent (log)": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: findStatusMessage": {
      "main": [
        [
          {
            "node": "Set Delivered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Delivered?": {
      "main": [
        [
          {
            "node": "Merge Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set invalid (log)": {
      "main": [
        [
          {
            "node": "Merge Logs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Logs": {
      "main": [
        [
          {
            "node": "Code 路 Build Report Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code 路 Build Report Text": {
      "main": [
        [
          {
            "node": "Evolution API: Enviar resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "HTTP: findStatusMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2d8e0085-56c1-4f30-bc73-253bdd7e0aa7",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-08T19:14:13.303Z",
      "createdAt": "2025-09-08T19:14:13.303Z",
      "role": "workflow:owner",
      "workflowId": "SP0mcUIA3OfhFzKh",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}