workflows/2025-11-28_01-00-30_PROD — P2P 24h (compra_venta) → JPG → (opcional) Evolution.json
{
  "updatedAt": "2025-09-26T19:34:07.000Z",
  "createdAt": "2025-09-26T19:07:01.758Z",
  "id": "8iWIV4i5rlvWnyE0",
  "name": "PROD — P2P 24h (compra/venta) → JPG → (opcional) Evolution",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "1ac459c0-5abe-46a9-bcd9-8e3a9b7b7446",
      "name": "▶️ Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "function pad(n){return String(n).padStart(2,'0')}\nfunction toMysql(dt){return `${dt.getFullYear()}-${pad(dt.getMonth()+1)}-${pad(dt.getDate())} ${pad(dt.getHours())}:${pad(dt.getMinutes())}:${pad(dt.getSeconds())}`}\n\nconst end = new Date();\nconst start = new Date(end.getTime() - 24*3600*1000);\n\nreturn [{\n  startLocal: toMysql(start),\n  endLocal: toMysql(end),\n  title: 'P2P 24h — Compra vs Venta (BOB)'\n}];"
      },
      "id": "57a2c2a5-87f1-494c-ad34-1b182c5e5af2",
      "name": "⚙️ Params (ventana 24h)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "/* Si tu BD está en HORA LOCAL, usa esta: */\nSELECT 'Compra' AS serie, fecha_hora, precio\nFROM compra_bob\nWHERE fecha_hora >= '{{$json[\"startLocal\"]}}'\n  AND fecha_hora <= '{{$json[\"endLocal\"]}}'\nUNION ALL\nSELECT 'Venta'  AS serie, fecha_hora, precio\nFROM venta_bob\nWHERE fecha_hora >= '{{$json[\"startLocal\"]}}'\n  AND fecha_hora <= '{{$json[\"endLocal\"]}}'\nORDER BY fecha_hora ASC;\n\n/* Si tu BD está en UTC, reemplaza el WHERE por:\n   WHERE fecha_hora >= CONVERT_TZ('{{$json[\"startLocal\"]}}','America/La_Paz','UTC')\n     AND fecha_hora <= CONVERT_TZ('{{$json[\"endLocal\"]}}','America/La_Paz','UTC')\n*/\n",
        "options": {}
      },
      "id": "d0428a07-9489-43d9-881f-ee3ba4212b44",
      "name": "🗄️ MySQL — serie 24h (compra & venta)",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        64,
        48
      ],
      "credentials": {
        "mySql": {
          "id": "E3NXQrJaLGKMyUsb",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const compra = [];\nconst venta  = [];\nconst toISO = (s) => {\n  if (!s) return null;\n  const str = String(s).trim();\n  return str.includes('T') ? str : (str.includes(' ') ? str.replace(' ', 'T') : null);\n};\n\nfor (const it of items) {\n  const r = it.json || {};\n  const x = toISO(r.fecha_hora);\n  const y = (r.precio != null) ? Number(r.precio) : null;\n  if (!x || !isFinite(y)) continue;\n  (r.serie === 'Compra' ? compra : venta).push({ x, y });\n}\n\nconst title   = $json.title || 'P2P 24h — Compra vs Venta (BOB)';\nconst caption = `📈 ${title}\\nVentana: ${$json.startLocal} → ${$json.endLocal}`;\n\nconst chartConfig = {\n  type: 'line',\n  data: { datasets: [\n    { label: 'Compra', data: compra, tension: 0.2, pointRadius: 0 },\n    { label: 'Venta',  data: venta,  tension: 0.2, pointRadius: 0 }\n  ]},\n  options: {\n    parsing: false,\n    animation: false,\n    plugins: { title: { display: true, text: title }, legend: { position: 'bottom' } },\n    scales: { x: { type: 'time', time: { unit: 'hour', tooltipFormat: 'yyyy-MM-dd HH:mm' } },\n              y: { title: { display: true, text: 'Precio (BOB)' } } }\n  }\n};\n\nreturn [{ chartConfig, caption }];"
      },
      "id": "f76cac4a-b7cd-4721-9a89-7e812838c998",
      "name": "🧩 Build Chart.js config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart",
        "options": {}
      },
      "id": "f117e693-60cc-40d0-881c-dc9455201e58",
      "name": "🖼️ QuickChart → JPG (binario)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        576,
        48
      ]
    },
    {
      "parameters": {
        "fileName": "reporte_p2p_24h.jpg",
        "options": {}
      },
      "id": "90b0d567-37e8-490a-b571-d95f2e01606c",
      "name": "💾 Guardar JPG (opcional)",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        832,
        48
      ]
    },
    {
      "parameters": {
        "url": "http://EVO_HOST:PUERTO/messages/image?session=EVO_SESSION",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "8e165c76-0b39-4b20-9a94-1509c22252ef",
      "name": "📤 Evolution — Enviar JPG (HTTP opcional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1104,
        48
      ]
    }
  ],
  "connections": {
    "▶️ Manual Trigger": {
      "main": [
        [
          {
            "node": "⚙️ Params (ventana 24h)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Params (ventana 24h)": {
      "main": [
        [
          {
            "node": "🗄️ MySQL — serie 24h (compra & venta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗄️ MySQL — serie 24h (compra & venta)": {
      "main": [
        [
          {
            "node": "🧩 Build Chart.js config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧩 Build Chart.js config": {
      "main": [
        [
          {
            "node": "🖼️ QuickChart → JPG (binario)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ QuickChart → JPG (binario)": {
      "main": [
        [
          {
            "node": "💾 Guardar JPG (opcional)",
            "type": "main",
            "index": 0
          },
          {
            "node": "📤 Evolution — Enviar JPG (HTTP opcional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f95e0a1c-efb1-441c-9a5e-f7a997d1bc39",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-26T19:07:01.760Z",
      "createdAt": "2025-09-26T19:07:01.760Z",
      "role": "workflow:owner",
      "workflowId": "8iWIV4i5rlvWnyE0",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}