workflows/2025-11-24_20-32-22_WA (Evolution API nativo) nombre + MD5 (3 usuarios) - FIX PATH.json
{
  "updatedAt": "2025-10-07T02:02:24.000Z",
  "createdAt": "2025-10-07T01:59:12.653Z",
  "id": "7DgksU5jpFkvTFI8",
  "name": "WA (Evolution API nativo) nombre + MD5 (3 usuarios) - FIX PATH",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "4e8fcf08-3772-4541-ae95-44452e6a8fdc",
      "name": "Disparador manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "evo_instance",
              "value": "default"
            },
            {
              "name": "country_code",
              "value": "591"
            }
          ]
        },
        "options": {}
      },
      "id": "96bfa050-9512-4792-ad97-7e884340e4b3",
      "name": "Config Evolution",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        272,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  usuario,\n  nombre,\n  CASE\n    WHEN password ~ '^[0-9a-fA-F]{32}$' THEN lower(password)\n    ELSE md5(password::text)\n  END AS password_md5\nFROM vw_usuario_ciudadano\nWHERE usuario IN ('72888185','72896612','67670158')\nORDER BY idseg_usuario\nLIMIT 3;\n",
        "additionalFields": {}
      },
      "id": "a22a6ba2-6f57-4ea1-95d9-795955a4337f",
      "name": "Postgres (3 usuarios)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        528,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "35H1FB0uk1gnLC70",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const cc = $node['Config Evolution'].json['country_code'] || '591';\nconst usuario = String($json.usuario || '').replace(/\\D+/g, '');\nconst number = `${cc}${usuario}`;\nconst nombre = ($json.nombre || '').trim();\nconst passMd5 = ($json.password_md5 || '').toLowerCase();\nconst text = `Hola ${nombre}, tu usuario es ${usuario} y tu contraseña (MD5) es ${passMd5}.`;\nreturn { json: { number, text } };\n"
      },
      "id": "ec5eb6c2-4bcb-4e7d-9a68-77127b088cc4",
      "name": "Armar mensaje",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        784,
        0
      ]
    },
    {
      "parameters": {
        "resource": "message"
      },
      "id": "89102b5f-a059-441a-9641-18d939c884d6",
      "name": "Evolution API (Send Text)",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "Evolution account"
        }
      }
    }
  ],
  "connections": {
    "Disparador manual": {
      "main": [
        [
          {
            "node": "Config Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Evolution": {
      "main": [
        [
          {
            "node": "Postgres (3 usuarios)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres (3 usuarios)": {
      "main": [
        [
          {
            "node": "Armar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar mensaje": {
      "main": [
        [
          {
            "node": "Evolution API (Send Text)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "af15ac89-e91e-4f88-9815-9d490b0e381d",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-07T01:59:12.657Z",
      "createdAt": "2025-10-07T01:59:12.657Z",
      "role": "workflow:owner",
      "workflowId": "7DgksU5jpFkvTFI8",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}