workflows/2025-11-28_01-00-29_PROMO_Reports_precios_bajos.json
{
  "updatedAt": "2025-11-24T12:57:35.000Z",
  "createdAt": "2025-11-17T22:14:33.747Z",
  "id": "8eXtKXmIWCrK5AEg",
  "name": "PROMO_Reports_precios_bajos",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Dejar solo el primer item por teléfono (to o telefono_normalizado)\nconst firstByPhone = new Map();\nconst counts = new Map();\n\nfor (const it of items) {\n  const j = it.json || {};\n  const tel = j.to || j.telefono_normalizado;\n  if (!tel) continue;\n  counts.set(tel, (counts.get(tel) || 0) + 1);\n  if (!firstByPhone.has(tel)) firstByPhone.set(tel, it);\n}\n\nconst uniques = [];\nfor (const [tel, it] of firstByPhone.entries()) {\n  const j = { ...(it.json || {}) };\n  j.to = j.to || j.telefono_normalizado; // aseguramos 'to'\n  j.duplicados = (counts.get(tel) || 1) - 1; // info útil\n  uniques.push({ json: j, binary: it.binary });\n}\n\nreturn uniques;"
      },
      "id": "74d17479-04aa-480f-a1a3-9e8b8d3848a4",
      "name": "Dejar únicos por teléfono",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Genera un reporte de teléfonos repetidos con conteo y nombres\nconst bucket = new Map();\nfor (const it of items) {\n  const j = it.json || {};\n  const tel = j.to || j.telefono_normalizado;\n  const nombre = j.nombre || '';\n  if (!tel) continue;\n  if (!bucket.has(tel)) bucket.set(tel, { tel, count: 0, names: new Set() });\n  const b = bucket.get(tel);\n  b.count++;\n  if (nombre) b.names.add(nombre);\n}\n\nconst out = [];\nfor (const { tel, count, names } of bucket.values()) {\n  if (count > 1) {\n    out.push({ json: { telefono: String(tel), repeticiones: count, nombres: Array.from(names).join(', ') } });\n  }\n}\nreturn out;"
      },
      "id": "c4b79255-e3f2-4020-9811-cf5a3dcbd50a",
      "name": "Reporte duplicados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -240
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "WacFsVCMvfjZW2tL",
          "mode": "list",
          "cachedResultName": "dupli_numero",
          "cachedResultUrl": "/projects/DLCF6dMNvaWDIOVx/datatables/WacFsVCMvfjZW2tL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "repeticiones": "={{ $json.repeticiones }}",
            "nombre": "={{ $json.nombres }}",
            "telefono": "={{ $json.telefono }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "repeticiones",
              "displayName": "repeticiones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "aba6f30a-e0b0-4b18-9297-bf81621d6465",
      "name": "Guardar duplicados (opcional)",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        368,
        -240
      ]
    },
    {
      "parameters": {
        "formTitle": "Subir archivo Excel e imagen",
        "formDescription": "Carga tu archivo Excel con los contactos y la imagen a enviar por WhatsApp.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Archivo Excel",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            },
            {
              "fieldLabel": "Imagen a enviar",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".jpg,.jpeg,.png",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "793894c8-34ce-40a3-a8cb-a37f4882717b",
      "name": "Subir archivo e imagen1",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -720,
        144
      ],
      "webhookId": "6e99cbf7-38e0-4403-8dc9-5a160ddd5688"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Archivo_Excel",
        "options": {}
      },
      "id": "a4faf280-0131-47cd-9dca-5216415ac3c7",
      "name": "Leer Excel1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -512,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "function normalizeBoliviaMobile(raw) {\n  if (raw === undefined || raw === null || String(raw).trim() === '') {\n    return { ok: false, motivo: 'Sin número' };\n  }\n\n  let s = String(raw).trim().replace(/[^0-9]/g, '');\n\n  if (s.startsWith('00')) s = s.slice(2);\n  if (s.startsWith('591')) s = s.slice(3);\n  if (s.length === 9 && s.startsWith('0')) s = s.slice(1);\n  if (s.length > 8) s = s.slice(-8);\n\n  if (s.length !== 8) return { ok: false, motivo: `Longitud inválida (${s.length})` };\n  if (!/^[67]/.test(s)) return { ok: false, motivo: 'No es móvil (no inicia en 6/7)' };\n\n  return { ok: true, e164: '591' + s };\n}\n\nconst out = [];\nconst vistos = new Set();   // Para detectar duplicados\n\nfor (const it of items) {\n  const j = it.json || {};\n  const r = normalizeBoliviaMobile(j.telefono_cliente);\n\n  let duplicado = false;\n  let normalizado = r.ok ? r.e164 : null;\n\n  // Marcar duplicados solo si el número es válido\n  if (r.ok) {\n    if (vistos.has(normalizado)) {\n      duplicado = true;\n    } else {\n      vistos.add(normalizado);\n    }\n  }\n\n  if (r.ok) {\n    out.push({\n      json: {\n        valido: true,\n        duplicado,\n        telefono_normalizado: normalizado,\n        nombre_cliente: j.nombre_cliente || '',\n        idcliente: j.idcliente || 0\n      }\n    });\n  } else {\n    out.push({\n      json: {\n        valido: false,\n        duplicado: false,\n        motivo: r.motivo,\n        telefono_original: (j.telefono_cliente == null ? '' : String(j.telefono_cliente)),\n        nombre_cliente: j.nombre_cliente || '',\n        idcliente: j.idcliente || 0\n      }\n    });\n  }\n}\n\nreturn out;"
      },
      "id": "eb79dfec-7df0-416a-aa6e-d96c77777fa6",
      "name": "Clasificar teléfonos (BO)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "20a85f91-bd9a-4143-afe2-c465ef7a4d36",
              "leftValue": "={{ $json.valido }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cbb4c75f-f791-48c1-89f6-ff7120ef2720",
      "name": "¿Teléfono válido?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        -32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3164608a-b874-4dc1-8daf-e8fb4846e852",
              "name": "nombre",
              "value": "={{ $json.nombre_cliente }}",
              "type": "string"
            },
            {
              "id": "d4ee1888-ba1b-4ac7-b61c-c1157f28bc05",
              "name": "telefono_original",
              "value": "={{ $json.telefono_original }}",
              "type": "string"
            },
            {
              "id": "a479d128-d3c6-42d6-a82d-52e2b0f8e1fe",
              "name": "motivo",
              "value": "={{ $json.motivo }}",
              "type": "string"
            },
            {
              "id": "ff7ae937-6286-4c40-af55-2e2ff45227b8",
              "name": "idcliente",
              "value": "={{ $json.idcliente }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "9521597b-573d-46ab-a1a9-6a2c47c30564",
      "name": "Mapear error1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        48
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "gGrOlnDd2UIIHJxw",
          "mode": "list",
          "cachedResultName": "error_numero",
          "cachedResultUrl": "/projects/DLCF6dMNvaWDIOVx/datatables/gGrOlnDd2UIIHJxw"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $json.nombre }}",
            "telefono_original": "={{ $json.telefono_original }}",
            "motivo": "={{ $json.motivo }}",
            "idcliente": "={{ $json.idcliente }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "type": "string",
              "display": true
            },
            {
              "id": "telefono_original",
              "displayName": "telefono_original",
              "type": "string",
              "display": true
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "type": "string",
              "display": true
            },
            {
              "id": "idcliente",
              "displayName": "idcliente",
              "type": "number",
              "display": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f3db1684-68b7-467e-9c58-3e43ec11ece0",
      "name": "errores_numeros1",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        144,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "to",
              "type": "string",
              "value": "={{$json.telefono_normalizado}}",
              "id": "a694fc7e-5b70-4ce9-85b8-fd2491227ef6"
            },
            {
              "id": "6717a7f1-b47c-4a0e-b99a-6928c962b1a5",
              "name": "nombre",
              "value": "={{ $json.nombre_cliente }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "429ea9a0-e044-4eca-8bb1-8494f5333b49",
      "name": "Preparar válidos (to)1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "const bin=items[0].binary['Imagen_a_enviar'];\nif(!bin) throw new Error('No se encontró la imagen.');\nreturn [{json:{imagenBase64:bin.data}}];"
      },
      "id": "6d91696e-bbe6-4ba5-9fd9-fdc53fa4184c",
      "name": "Convertir imagen a Base",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        160
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "e62362dd-3ffb-496f-9208-c0f87433e4a8",
      "name": "Combinar válidos + imagen1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        368,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "to",
              "type": "string",
              "value": "={{$json.to}}",
              "id": "6bdd97ce-6c0f-4a6c-a8a3-99db927b0fa3"
            },
            {
              "name": "imagenBase64",
              "type": "string",
              "value": "={{$json.imagenBase64}}",
              "id": "238e65b8-757c-4ed3-a919-a4da9e891ba9"
            },
            {
              "name": "caption",
              "type": "string",
              "value": "={{`👋 Hola ${$json.nombre || ''}!\\n\\n#OfertaENVIBOL | Descuento especial para fortalecer la producción nacional \\nAprovecha el 15% de descuento en botellas de transición y potencia la eficiencia de tu empresa con envases de calidad, fabricados en Bolivia. \\nUna oportunidad para crecer, competir y producir con confianza.\\n\\n💬 ¡Estamos para atenderte y brindarte la mejor calidad boliviana!\\n¡Consume lo nuestro, ❤️💛💚 #HechoEnBolivia 🇧🇴!`}}",
              "id": "9c1ffb19-8ed5-40a4-b184-b69902b10225"
            }
          ]
        },
        "options": {}
      },
      "id": "79e298e4-4c74-409d-bbb8-01a7ee5832c8",
      "name": "Preparar mensaje1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        96
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "0a9fba74-2105-4d07-b5ab-a0f112e114a1",
      "name": "Enviar uno por uno",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        736,
        96
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "Envibol",
        "remoteJid": "={{$json.to}}",
        "media": "={{$json.imagenBase64}}",
        "caption": "={{$json.caption}}",
        "options_message": {
          "delay": 8000
        }
      },
      "id": "28b542cc-0440-4d18-8015-f05cb160e542",
      "name": "Enviar imagen WhatsApp",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        960,
        80
      ],
      "alwaysOutputData": true,
      "credentials": {
        "evolutionApi": {
          "id": "W1x347goQjF9uCPr",
          "name": "Envibol"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 5) + 4 }}",
        "unit": "seconds"
      },
      "id": "0a94517f-5d93-4632-87e0-00356c6a6e50",
      "name": "Esperar 4–8 s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1136,
        176
      ],
      "webhookId": "7401b50a-3c96-43c4-a439-3ecf269c6e47"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79e4a891-e0f7-4b61-a05a-c152ac4c3d93",
              "name": "data.key.remoteJid",
              "value": "={{ $json.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "d985b3bd-4a62-4711-8d98-e9dfa96a9762",
              "name": "data.message.imageMessage.caption",
              "value": "={{ $json.data.message.imageMessage.caption }}",
              "type": "string"
            },
            {
              "id": "a71cba4b-af9a-4f9f-9177-9e8a6c9105d6",
              "name": "data.status",
              "value": "={{ $json.data.status }}",
              "type": "string"
            },
            {
              "id": "11774c60-1e39-46a9-a886-88ffb71f0ae3",
              "name": "data.key.id",
              "value": "={{ $json.data.key.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8de236bf-d505-4d4f-9dc8-fc9e68ee28bb",
      "name": "Registrar éxito",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        -64
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"telefono\": \"={{ String($json.to || $json.data?.key?.remoteJid?.replace('@s.whatsapp.net','').replace('@c.us','') || '') }}\",\n  \"estado\": \"Error\",\n  \"detalle\": \"={{ $json.error?.response?.message?.[0]?.error || $json.error?.response?.message?.[0]?.number || $json.errorDescription || $json.errorMessage || 'Fallo desconocido' }}\",\n  \"codigo\": \"={{ $json.error?.response?.status || $json.error?.status || 'N/A' }}\",\n  \"id_mensaje\": \"\"\n}",
        "options": {}
      },
      "id": "304e1bd5-e5b6-4091-b165-c504bbe99c14",
      "name": "Registrar error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        80
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "co91A8sb0lX0QUA6",
          "mode": "list",
          "cachedResultName": "envibol_logs",
          "cachedResultUrl": "/projects/_/datatables/co91A8sb0lX0QUA6"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $json.data.key.remoteJid }}",
            "estado": "=Enviado",
            "detalle": "={{ $json.data.message.imageMessage.caption }}",
            "codigo": "=200",
            "id_mensaje": "={{ $json.data.key.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "detalle",
              "displayName": "detalle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "codigo",
              "displayName": "codigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id_mensaje",
              "displayName": "id_mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ac746f86-f510-43c4-bb24-6d9e35ab81d1",
      "name": "Guardar en envibol_logs",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1552,
        0
      ]
    }
  ],
  "connections": {
    "Dejar únicos por teléfono": {
      "main": [
        [
          {
            "node": "Combinar válidos + imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reporte duplicados": {
      "main": [
        [
          {
            "node": "Guardar duplicados (opcional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir archivo e imagen1": {
      "main": [
        [
          {
            "node": "Leer Excel1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convertir imagen a Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Excel1": {
      "main": [
        [
          {
            "node": "Clasificar teléfonos (BO)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar teléfonos (BO)1": {
      "main": [
        [
          {
            "node": "¿Teléfono válido?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Teléfono válido?1": {
      "main": [
        [
          {
            "node": "Preparar válidos (to)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mapear error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear error1": {
      "main": [
        [
          {
            "node": "errores_numeros1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar válidos (to)1": {
      "main": [
        [
          {
            "node": "Dejar únicos por teléfono",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reporte duplicados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir imagen a Base": {
      "main": [
        [
          {
            "node": "Combinar válidos + imagen1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combinar válidos + imagen1": {
      "main": [
        [
          {
            "node": "Preparar mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar uno por uno": {
      "main": [
        [
          {
            "node": "Enviar imagen WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar imagen WhatsApp": {
      "main": [
        [
          {
            "node": "Registrar éxito",
            "type": "main",
            "index": 0
          },
          {
            "node": "Esperar 4–8 s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar éxito": {
      "main": [
        [
          {
            "node": "Guardar en envibol_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar error": {
      "main": [
        [
          {
            "node": "Guardar en envibol_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 4–8 s": {
      "main": [
        [
          {
            "node": "Enviar uno por uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar mensaje1": {
      "main": [
        [
          {
            "node": "Enviar uno por uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "50f94fdc-f0f8-4b94-8be7-21553a1d9717",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-17T22:14:33.759Z",
      "createdAt": "2025-11-17T22:14:33.759Z",
      "role": "workflow:owner",
      "workflowId": "8eXtKXmIWCrK5AEg",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}