workflows/2025-11-24_20-32-45_Verificar números WhatsApp y guardar en Data table.json
{
  "updatedAt": "2025-10-17T20:17:22.000Z",
  "createdAt": "2025-10-17T18:18:00.716Z",
  "id": "EPFddgNDje6kB1n5",
  "name": "Verificar n칰meros WhatsApp y guardar en Data table",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "315b4e00-4943-439f-bfd9-ec00acc542bf",
      "name": "Disparador manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  s.usuario::text          AS usuario,\n  s.telefono::text         AS telefono,       -- si no existe, puedes omitir y usar usuario\n  s.nombre,\n  s.apellido_paterno,\n  s.apellido_materno,\n  s.municipio,\n  s.\"nombre_recinto\"       AS nombre_recinto,\n  s.estado\nFROM seg_usuario s\nWHERE s.estado = true;",
        "options": {}
      },
      "id": "bd80d670-3e1d-4f6c-9604-1a18247f193c",
      "name": "Postgres (leer 1 usuario)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        496,
        -208
      ],
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "35H1FB0uk1gnLC70",
          "name": "Postgres account 2"
        }
      },
      "notes": "Selecciona tus **credenciales de Postgres** al importar este flujo."
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# n8n Code in Python (Beta) - Run once for all items\n# Construye {number, text, baseUrl, token} para Evolution API con tu plantilla\n\nDEFAULT_CC = \"591\"  # prefijo pa칤s (Bolivia)\n\ndef only_digits(s: str) -> str:\n    return \"\".join(ch for ch in str(s) if ch.isdigit())\n\nitems_in = _input.all()\nif not items_in:\n    return []\n\n# Toma config opcional del primer item (si la pasas con un Set)\ncfg_src = items_in[0].json\ncc        = str(cfg_src.get(\"country_code\", DEFAULT_CC))\nbase_url  = cfg_src.get(\"evo_base_url\", \"\")\ntoken     = cfg_src.get(\"evo_token\", \"\")\ntarget    = only_digits(cfg_src.get(\"target_usuario\", \"\"))  # opcional: para enviar a uno solo\n\nout = []\nfor it in items_in:\n    r = it.json\n\n    # n칰mero local: usa telefono o usuario\n    telefono_local = only_digits(r.get(\"telefono\") or r.get(\"usuario\") or \"\")\n    if not telefono_local:\n        continue\n    if target and telefono_local != target:\n        continue\n\n    # n칰mero con prefijo para enviar\n    number = telefono_local if telefono_local.startswith(cc) else f\"{cc}{telefono_local}\"\n\n    nombre     = (r.get(\"nombre\") or \"\").strip()\n    ap_pat     = (r.get(\"apellido_paterno\") or \"\").strip()\n    ap_mat     = (r.get(\"apellido_materno\") or \"\").strip()\n    municipio  = (r.get(\"municipio\") or \"\").strip()\n    recinto    = (r.get(\"nombre_recinto\") or r.get(\"recinto\") or \"\").strip()\n\n    # 游댰 Tu plantilla (exacta):\n    # Hola{nombre} {apellido_paterno}, {apellidomaterno} te haz registrado para el {recinto} del {municipio} estas registrado con el numero celular {telefono} favor confirma la informaci칩n y si quieres envianos una foto tuya para tu carnet\n    texto = (\n        f\"Hola {nombre} {ap_pat} {ap_mat}, te has registrado para el {recinto} del {municipio} \"\n        f\"estas registrado con el numero celular {telefono_local} \"\n        f\"favor confirma la informaci칩n y si quieres envianos una foto tuya para tu carnet\"\n    )\n\n    out.append({\n        \"json\": {\n            \"number\": number,     # para Evolution API\n            \"text\": texto,        # mensaje final\n            \"baseUrl\": base_url,  # lo usar치 tu nodo HTTP\n            \"token\": token\n        }\n    })\n\nreturn out"
      },
      "id": "560a6789-0cee-4275-841c-06221bde73ad",
      "name": "Formatear mensaje (Python)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -272
      ],
      "notesInFlow": true,
      "notes": "Texto final: \"Hola {nombre} {ap_paterno} {ap_materno}, tu contrase침a es: {contrase침a}.\""
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "DL",
        "remoteJid": "={{ $json.number }}",
        "messageText": "={{ $json.text }}",
        "options_message": {
          "delay": 6000
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1248,
        -192
      ],
      "id": "a4ae865f-b51c-4fb1-b6bb-09fce9ddc4e1",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "XJEGvlLekyA8lBQ3",
          "name": "dasa"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "instanceName": "mm",
        "numbers": "="
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        704,
        0
      ],
      "id": "47dfb66d-9dee-4d93-89eb-04eafdddd352",
      "name": "Verificar n mero no whats app",
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "mmmmm"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  ciudadano_id,\n  fecha_creacion,\n  nombre,\n  apellido_paterno,\n  apellido_materno,\n  telefono,\n  correo,\n  nummesa,\n  municipio,\n  asiento_electoral,\n  nombre_recinto,\n  distrito\nFROM public.vw_ciudadano_recinto\nLIMIT 100;",
        "options": {}
      },
      "id": "05f0927c-6bc3-487f-9225-599f23236efe",
      "name": "Postgres: SELECT2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        368,
        0
      ],
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "bXghImYW2Dg1lKZR",
          "name": "Postgres account 3"
        }
      },
      "notes": "Selecciona tu credencial 'Cuenta de Postgres 3' al importar."
    },
    {
      "parameters": {
        "jsCode": "// Normaliza a E.164 sin '+' (Bolivia 591) y prepara un solo item {numbers, map}\nconst CC = '591';\nconst numbers = [];\nconst map = [];  // para poder unir luego nombre/ID\n\nfor (const it of $input.all()) {\n  let t = String(it.json.telefono || '').replace(/\\D+/g, '');\n  if (!t) continue;\n\n  // si no trae 591, lo anteponemos\n  if (!t.startsWith(CC)) {\n    t = t.replace(/^0+/, '');\n    t = CC + t;\n  }\n\n  // validaci칩n simple Bolivia: 591 + 8 d칤gitos (m칩viles suelen iniciar 6/7)\n  if (!/^591[67]\\d{7}$/.test(t)) continue;\n\n  numbers.push(t);\n  map.push({\n    number: t,\n    ciudadano_id: it.json.ciudadano_id,\n    nombre: it.json.nombre\n  });\n}\n\n// Devolvemos UN SOLO item con ambos arrays\nreturn [{ json: { numbers, map } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        0
      ],
      "id": "c5b1ee17-8523-44e5-aa5f-73f89faabcbe",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Filtra exists === true y une con 'map' del primer Code\nconst map = $node[\"Code in JavaScript\"].json.map || [];\nconst byNum = Object.fromEntries(map.map(m => [m.number, m]));\nconst out = [];\n\nfor (const it of $input.all()) {\n  const r = it.json; // {exists, number, jid}\n  if (!r || r.exists !== true) continue;\n\n  const m = byNum[r.number] || {};\n  out.push({\n    json: {\n      number: r.number,\n      jid: r.jid,\n      ciudadano_id: m.ciudadano_id,\n      nombre: m.nombre\n    }\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "bbfd1b74-e3d6-46cb-9fb8-f2ec394ae1e4",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1056,
        0
      ],
      "id": "bcb27d13-7434-4085-b538-e173b0a1356d",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1232,
        0
      ],
      "id": "4328afc8-f01e-4001-8bcf-ea277ebd2b28",
      "name": "Get row(s)"
    }
  ],
  "connections": {
    "Disparador manual": {
      "main": [
        [
          {
            "node": "Postgres: SELECT2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres (leer 1 usuario)": {
      "main": [
        []
      ]
    },
    "Formatear mensaje (Python)": {
      "main": [
        []
      ]
    },
    "Postgres: SELECT2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar n mero no whats app": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Verificar n mero no whats app",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "61166fe9-4f4b-4c06-9240-e9fefa69c2a8",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-17T18:18:00.724Z",
      "createdAt": "2025-10-17T18:18:00.724Z",
      "role": "workflow:owner",
      "workflowId": "EPFddgNDje6kB1n5",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}