workflows/2025-11-28_01-01-24_rrhh_Marcaciones.json
{
  "updatedAt": "2025-10-21T21:40:23.000Z",
  "createdAt": "2025-10-21T19:26:20.386Z",
  "id": "SMnXcCucADxSw1eU",
  "name": "rrhh_Marcaciones",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "f20999dc-6925-4f9c-8d84-d0f18f8fe217",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        240
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "evInstance",
              "value": "mm"
            },
            {
              "name": "areaId",
              "value": "3"
            },
            {
              "name": "adminNumber",
              "value": "59172896612"
            }
          ]
        },
        "options": {}
      },
      "id": "cf01ba26-5aa0-4534-844f-9688ba82e864",
      "name": "Set Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1264,
        -64
      ]
    },
    {
      "parameters": {
        "url": "https://apirrhh.envibol.site/api/v1/N8n/Areas",
        "options": {}
      },
      "id": "b5262d7a-c8b5-472c-9a71-a06a48227ca9",
      "name": "HTTP Areas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1072,
        -64
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://apirrhh.envibol.site/api/v1/N8n/GetUnidad/' + $node[\"Set Params\"].json.areaId }}",
        "options": {}
      },
      "id": "2719531d-6452-47c5-9142-5469414c1fc6",
      "name": "HTTP GetUnidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -880,
        -64
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "130c93ef-019a-4f0d-bfc0-db4dc3edfec2",
      "name": "Split Out Items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -704,
        -64
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "areaName",
              "value": "={{ (function(){ const areas = ($item(0).$node[\"HTTP Areas\"].json.data || []); const id = Number($item(0).$node[\"Set Params\"].json.areaId); const a = areas.find(x => x.idgenClasificador === id) || {}; return (a.descripcion || '').trim(); })() }}"
            },
            {
              "name": "fullName",
              "value": "={{ [$json.nombre].filter(Boolean).join(' ').replace(/\\s+/g,' ').trim() }}"
            },
            {
              "name": "number",
              "value": "={{ String($json.celular || '').replace(/\\D/g,'') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1b17b3a1-393a-4afe-a219-52f1eeb313a1",
      "name": "Set Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -528,
        -64
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{ '¡Hola, ' + $json.fullName + '! 👋\\n' + 'Buenos días y un excelente inicio de jornada. En ENVIBOL, valoramos mucho tu compromiso en el área de ' + $json.areaName + '. 💪\\n ¡A darlo todo hoy! 🚀 Estamos seguros de que lograremos grandes cosas juntos. ✨' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2e65dd04-6bad-4674-ad5e-898ce6b92fbf",
      "name": "Set Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -352,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "fea95924-40d9-4955-ae6e-a8b86eb9f8e4",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c50190e4-9b74-4be4-8a10-2488f83c5e9d",
      "name": "IF Tel válido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -160,
        -64
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $item(0).$node[\"Set Params\"].json.evInstance }}",
        "remoteJid": "={{ $json.number + '@s.whatsapp.net' }}",
        "messageText": "={{ $json.message }}",
        "options_message": {
          "delay": 3000
        }
      },
      "id": "ffc1c9b2-bf45-41f5-8c1f-8bd80b790ec0",
      "name": "Evolution API: Enviar texto",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -80,
        -448
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "mmmmm"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "ENVIADO"
            },
            {
              "name": "log",
              "value": "={{ $json.number + ' · ' + $json.fullName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1ba2f44a-f3f6-44d7-86ff-9f7cd652ac8b",
      "name": "Set Sent (log)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        128,
        -448
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "NO_ENVIADO_TEL_INVALIDO"
            },
            {
              "name": "log",
              "value": "={{ $json.number + ' · ' + $json.fullName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d2fac6ce-2d1f-4cff-9d74-cc3559d4f2e6",
      "name": "Set invalid (log)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -80,
        -288
      ]
    },
    {
      "parameters": {},
      "id": "1dbceca3-4b56-4da5-bf23-3e227f58c198",
      "name": "Merge Logs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        320,
        -384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items = true\nconst items = $input.all();\nlet enviados = 0, noEnviados = 0;\n\nfor (const it of items) {\n  const st = (it.json.status || '').toUpperCase();\n  if (st === 'ENVIADO') enviados++;\n  if (['NO_ENVIADO_TEL_INVALIDO','NO_ENVIADO','ERROR'].includes(st)) noEnviados++;\n}\n\nconst area = $item(0).$node[\"Set Normalize\"].json.areaName || 'planificación';\nconst reportText =\n  `Reporte (Nombre o tipo) de ${area} \\n` +\n  `Enviados: ${enviados}\\n` +\n  `No enviados: ${noEnviados}`;\n\nreturn [{ json: { reportText } }];"
      },
      "id": "8c9a7183-fb84-4317-b729-0348a977f702",
      "name": "Code · Build Report Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -384
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $item(0).$node[\"Set Params\"].json.evInstance }}",
        "remoteJid": "={{ $item(0).$node[\"Set Params\"].json.adminNumber + '@s.whatsapp.net' }}",
        "messageText": "={{ $json.reportText }}",
        "options_message": {}
      },
      "id": "d88c6592-b242-4e77-a762-8bff08933aeb",
      "name": "Evolution API: Enviar resumen",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        704,
        -384
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "mmmmm"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "jasperHost",
              "value": "https://jasper.envibol.site:8443"
            },
            {
              "name": "jasperPath",
              "value": "/jasperserver/rest_v2/reports/Reports/ENVIBOL/RRHH/Asistencia.pdf"
            },
            {
              "name": "jasperUser",
              "value": "envibol"
            },
            {
              "name": "jasperPass",
              "value": "123456789"
            },
            {
              "name": "fechaInicio",
              "value": "2025-08-01"
            },
            {
              "name": "fechaFin",
              "value": "2025-08-31"
            }
          ]
        },
        "options": {}
      },
      "id": "aa103d7a-9636-459b-a531-a618d52fe5c0",
      "name": "Set Dates",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1424,
        240
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "link",
              "value": "=={{ \n  $item(0).$node[\"Set Dates\"].json.jasperHost\n  + $item(0).$node[\"Set Dates\"].json.jasperPath\n  + '?j_username='  + $item(0).$node[\"Set Dates\"].json.jasperUser\n  + '&j_password='  + $item(0).$node[\"Set Dates\"].json.jasperPass\n  + '&fecha_inicio='+ $item(0).$node[\"Set Dates\"].json.fechaInicio\n  + '&fecha_fin='   + $item(0).$node[\"Set Dates\"].json.fechaFin\n  + '&nombre_apellido=' + $json.nombreApellidoParam\n}}"
            },
            {
              "name": "texto",
              "value": "=={{ \n  '¡Hola, ' + $json.firstName + '! 👋\\n'\n  + 'Buenos días y un excelente inicio de jornada. En ENVIBOL, valoramos mucho tu compromiso en el área de '\n  + $json.areaName + '. 💪\\n'\n  + '¡A darlo todo hoy! 🚀 Estamos seguros de que lograremos grandes cosas juntos. ✨'\n}}"
            }
          ],
          "number": [
            {
              "name": "numero",
              "value": "={{ $json.number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6a5b39ed-12ec-4242-97f4-1e5873478e7e",
      "name": "Set Link & Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -368,
        240
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "evInstance",
              "value": "mm"
            },
            {
              "name": "areaId",
              "value": "3"
            },
            {
              "name": "adminNumber",
              "value": "59172896612"
            }
          ]
        },
        "options": {}
      },
      "id": "c80faf1e-78fa-4bcd-ba0b-5d1c16e4e060",
      "name": "Set Params1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1280,
        240
      ]
    },
    {
      "parameters": {
        "url": "https://apirrhh.envibol.site/api/v1/N8n/Areas",
        "options": {}
      },
      "id": "3a7665a4-a31c-4552-95cc-8272d1b5699e",
      "name": "HTTP Areas1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1088,
        240
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://apirrhh.envibol.site/api/v1/N8n/GetUnidad/' + $node[\"Set Params1\"].json.areaId }}",
        "options": {}
      },
      "id": "7092034a-4368-4506-86f3-a33f99e6289a",
      "name": "HTTP GetUnidad1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -896,
        240
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "7f01a4ae-4a90-408b-adf2-c25c86df1db6",
      "name": "Split Out Items1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -720,
        240
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "areaName",
              "value": "={{ (function(){ const areas = ($item(0).$node[\"HTTP Areas1\"].json.data || []); const id = Number($item(0).$node[\"Set Params1\"].json.areaId); const a = areas.find(x => x.idgenClasificador === id) || {}; return (a.descripcion || '').trim(); })() }}"
            },
            {
              "name": "fullName",
              "value": "={{ (function(){ const parts = [String($json.nombre||'').trim(), String($json.apellidoPaterno||'').trim(), String($json.apellidoMaterno||'').trim()].filter(Boolean); return parts.join(' ').replace(/\\s+/g,' ').trim(); })() }}"
            },
            {
              "name": "firstName",
              "value": "={{ (function(){ const n=String($json.nombre||'').trim(); return (n.split(/\\s+/)[0]||'').trim(); })() }}"
            },
            {
              "name": "number",
              "value": "={{ String($json.celular || '').replace(/\\D/g,'') }}"
            },
            {
              "name": "nombreApellidoParam",
              "value": "={{ (function(){ const raw = [String($json.nombre||''), String($json.apellidoPaterno||''), String($json.apellidoMaterno||'')].filter(Boolean).join(' ').replace(/\\s+/g,' ').trim().toUpperCase(); const sinTildes = raw.normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').replace(/Ñ/g,'N'); return encodeURIComponent(sinTildes); })() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e8e613f0-b99d-4ecb-96a6-cdfaa5ecc33f",
      "name": "Set Normalize1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -544,
        240
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-document",
        "instanceName": "mm",
        "remoteJid": "={{ $json.numero }}",
        "media": "={{ $json.link }}",
        "caption": "=Marcacioness",
        "fileName": "MARCACIONES.pdf",
        "options_message": {
          "delay": 9000
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        400,
        704
      ],
      "id": "7f6f5fa3-8603-4610-8f15-6885232e80b0",
      "name": "Enviar documento",
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "mmmmm"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# === Parametrización ===\nJASPER_HOST = 'https://jasper.envibol.site:8443'\nJASPER_PATH = '/jasperserver/rest_v2/reports/Reports/ENVIBOL/RRHH/Asistencia.pdf'\nJASPER_USER = 'envibol'\nJASPER_PASS = '123456789'\n# Rango de fechas\nFECHA_INI = '2025-08-01'\nFECHA_FIN = '2025-08-31'\nFECHA_LEIBLE = '08/2025'\nDEFAULT_CC = '591'\n\nfrom urllib.parse import quote\nimport unicodedata\n\ndef only_digits(s: str) -> str:\n    return ''.join(ch for ch in str(s or '') if ch.isdigit())\n\ndef quitar_tildes_mayus(texto: str) -> str:\n    if not texto:\n        return ''\n    t = unicodedata.normalize('NFD', texto)\n    t = ''.join(ch for ch in t if unicodedata.category(ch) != 'Mn')\n    t = t.replace('ñ','n').replace('Ñ','N')\n    return ' '.join(t.upper().split())\n\nitems_in = _input.all()\nif not items_in:\n    return []\n\nsalida = []\nfor it in items_in:\n    j = it.json or {}\n\n    # 1) Nombre completo desde cualquiera de las variantes disponibles\n    nombre = j.get('fullName')\n    if not nombre:\n        nombre = ' '.join([j.get('nombre',''), j.get('apellidoPaterno',''), j.get('apellidoMaterno','')]).strip()\n        nombre = ' '.join(nombre.split())\n    first_name = (nombre.split()[0] if nombre else '').upper()\n\n    # 2) areaName si viene desde upstream; si no, por defecto\n    area_name = j.get('areaName') or 'AREA DE GESTION Y PLANIFICACION'\n\n    # 3) Número normalizado\n    number = j.get('number') or j.get('celular') or j.get('telefono') or ''\n    number = only_digits(number)\n    if number.startswith(('6','7')) and not number.startswith(DEFAULT_CC):\n        number = DEFAULT_CC + number\n    # Si tu Evolution necesita @c.us, descomenta:\n    # number = number + '@c.us'\n\n    # 4) nombre_apellido param para Jasper (MAYÚSCULAS, sin tildes, Ñ->N, URL-encoded)\n    nombre_apellido = j.get('nombreApellidoParam')\n    if not nombre_apellido:\n        base = quitar_tildes_mayus(nombre)\n        nombre_apellido = quote(base, safe='')\n\n    # 5) Link Jasper\n    link = (\n        f\"{JASPER_HOST}{JASPER_PATH}\"\n        f\"?j_username={JASPER_USER}&j_password={JASPER_PASS}\"\n        f\"&fecha_inicio={FECHA_INI}&fecha_fin={FECHA_FIN}\"\n        f\"&nombre_apellido={nombre_apellido}\"\n    )\n\n    # 6) Mensaje\n    texto = (\n        f\"¡Hola, {first_name}! 👋\\n\"\n        f\"Buenos días y un excelente inicio de jornada. En ENVIBOL, valoramos mucho tu compromiso en el área de {area_name}. 💪\\n\"\n        f\"¡A darlo todo hoy! 🚀 Estamos seguros de que lograremos grandes cosas juntos. ✨\\n\\n\"\n        f\"📄 Reporte de Asistencia ({FECHA_LEIBLE})\\n\"\n        f\"🔗 Descargar: {link}\"\n    )\n\n    # 7) Nombre de archivo\n    safe_name = quitar_tildes_mayus(nombre).replace(' ', '_') or 'ASISTENCIA'\n    file_name = f\"{safe_name}_Asistencia_{FECHA_INI}_{FECHA_FIN}.pdf\"\n\n    salida.append({\n        'json': {\n            'fullName': nombre,\n            'firstName': first_name,\n            'areaName': area_name,\n            'number': number,\n            'texto': texto,\n            'link': link,\n            'fileName': file_name\n        }\n    })\n\nreturn salida"
      },
      "id": "bd69868c-2bc9-4008-8b83-e2afde4989ad",
      "name": "Formatear mensaje (Python)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        240
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "5139a2fc-27dc-4453-ba75-a4259b6dd3d2",
      "name": "Split por registro",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        112,
        240
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-document",
        "instanceName": "mm",
        "remoteJid": "={{ $json.number }}",
        "media": "={{ $json.link }}",
        "caption": "marcaciones",
        "fileName": "={{ $json.fileName }}",
        "options_message": {}
      },
      "id": "98d5f5dd-df70-4168-8c31-b2b2e47a62a9",
      "name": "Enviar documento (Evolution)",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        352,
        240
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "mmmmm"
        }
      }
    },
    {
      "parameters": {},
      "id": "1c8b7172-82c7-46f9-8a82-58f72f3da903",
      "name": "Continuar lote",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        560,
        240
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Params": {
      "main": [
        [
          {
            "node": "HTTP Areas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Areas": {
      "main": [
        [
          {
            "node": "HTTP GetUnidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GetUnidad": {
      "main": [
        [
          {
            "node": "Split Out Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Items": {
      "main": [
        [
          {
            "node": "Set Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Normalize": {
      "main": [
        [
          {
            "node": "Set Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message": {
      "main": [
        [
          {
            "node": "IF Tel válido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tel válido": {
      "main": [
        [],
        []
      ]
    },
    "Evolution API: Enviar texto": {
      "main": [
        [
          {
            "node": "Set Sent (log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sent (log)": {
      "main": [
        [
          {
            "node": "Merge Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set invalid (log)": {
      "main": [
        [
          {
            "node": "Merge Logs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Logs": {
      "main": [
        [
          {
            "node": "Code · Build Report Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Build Report Text": {
      "main": [
        [
          {
            "node": "Evolution API: Enviar resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Params1": {
      "main": [
        [
          {
            "node": "HTTP Areas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Areas1": {
      "main": [
        [
          {
            "node": "HTTP GetUnidad1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GetUnidad1": {
      "main": [
        [
          {
            "node": "Split Out Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Items1": {
      "main": [
        [
          {
            "node": "Set Normalize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Normalize1": {
      "main": [
        [
          {
            "node": "Set Link & Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Dates": {
      "main": [
        [
          {
            "node": "Set Params1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Link & Text": {
      "main": [
        [
          {
            "node": "Formatear mensaje (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear mensaje (Python)": {
      "main": [
        [
          {
            "node": "Split por registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split por registro": {
      "main": [
        [
          {
            "node": "Enviar documento (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar documento (Evolution)": {
      "main": [
        [
          {
            "node": "Continuar lote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuar lote": {
      "main": [
        [
          {
            "node": "Split por registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f8ba7f0d-0deb-459e-b4ef-22e9c3edbf35",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-21T19:26:20.394Z",
      "createdAt": "2025-10-21T19:26:20.394Z",
      "role": "workflow:owner",
      "workflowId": "SMnXcCucADxSw1eU",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}