workflows/2025-11-24_14-28-13_UPDOWNv2.json
{
  "updatedAt": "2025-10-08T13:34:59.000Z",
  "createdAt": "2025-10-06T14:56:50.795Z",
  "id": "JvoslKO8C3kWOURA",
  "name": "UPDOWNv2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  /* actual */\n  (SELECT precio     FROM compra_bob ORDER BY fecha_hora DESC LIMIT 1) AS compra_ahora,\n  (SELECT fecha_hora FROM compra_bob ORDER BY fecha_hora DESC LIMIT 1) AS compra_ahora_ts,\n\n  /* previo: estrictamente anterior al máximo (evita empates en la misma fecha_hora) */\n  (SELECT precio FROM compra_bob\n     WHERE fecha_hora < (SELECT MAX(fecha_hora) FROM compra_bob)\n     ORDER BY fecha_hora DESC LIMIT 1) AS compra_prev,\n\n  /* actual */\n  (SELECT precio     FROM venta_bob  ORDER BY fecha_hora DESC LIMIT 1) AS venta_ahora,\n  (SELECT fecha_hora FROM venta_bob  ORDER BY fecha_hora DESC LIMIT 1) AS venta_ahora_ts,\n\n  /* previo: estrictamente anterior al máximo */\n  (SELECT precio FROM venta_bob\n     WHERE fecha_hora < (SELECT MAX(fecha_hora) FROM venta_bob)\n     ORDER BY fecha_hora DESC LIMIT 1) AS venta_prev,\n\n  NOW() AS fecha_consulta;"
      },
      "id": "1d10bef4-c20b-4349-b1d4-100024028b31",
      "name": "MySQL - Últimos y Previos",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -704,
        32
      ],
      "credentials": {
        "mySql": {
          "id": "E3NXQrJaLGKMyUsb",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"alerta\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "f7a8d0b3-ea61-4be0-8734-b3af181a533d",
      "name": "IF - ¿Hay alerta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -240,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO p2p_alertas_log (\n  fecha_evento, compra_now, compra_prev, venta_now, venta_prev,\n  delta_compra, delta_venta, umbral, mensaje\n) VALUES (\n  '{{$json[\"fecha_evento\"].substring(0,19).replace(\"T\",\" \")}}',\n  {{$json[\"compra_now\"]}},\n  {{$json[\"compra_prev\"]}},\n  {{$json[\"venta_now\"]}},\n  {{$json[\"venta_prev\"]}},\n  {{$json[\"delta_compra\"]}},\n  {{$json[\"delta_venta\"]}},\n  {{$json[\"umbral\"]}},\n  '{{$json[\"mensaje\"]}}'\n);"
      },
      "id": "9e9fc761-ff17-4317-898d-e9246b707925",
      "name": "MySQL - Registrar alerta",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        0,
        -48
      ],
      "credentials": {
        "mySql": {
          "id": "E3NXQrJaLGKMyUsb",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === Parámetros de alerta/intensidad ===\nconst THRESHOLD_ABS = 0.01; // USD (dispara alerta)\nconst INT_ABS_1 = 0.02;     // leve/moderada\nconst INT_ABS_2 = 0.05;     // moderada/fuerte\n\nconst r = items[0].json; // tu flujo actual\n\n// Helpers\nconst toNum = (v) => {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : null;\n};\nconst fmt2 = (n) => (typeof n === 'number' && isFinite(n)) ? n.toFixed(2) : '--';\nconst arrow = (d) => d > 0 ? '↗️' : d < 0 ? '↘️' : '→';\nconst signed2 = (d) => d > 0 ? `+${Math.abs(d).toFixed(2)}` : d < 0 ? `-${Math.abs(d).toFixed(2)}` : `${Math.abs(d).toFixed(2)}`;\n\nfunction intensidad(absDelta) {\n  if (absDelta >= INT_ABS_2) return 'fuerte';\n  if (absDelta >= INT_ABS_1) return 'moderada';\n  return 'leve';\n}\n\n// Números (con fallback si viene NULL)\nconst compra_now = toNum(r.compra_ahora);\nlet   compra_prev = toNum(r.compra_prev);\nconst venta_now  = toNum(r.venta_ahora);\nlet   venta_prev = toNum(r.venta_prev);\n\nif (compra_prev === null) compra_prev = compra_now; // Δ=0 si no hay previo\nif (venta_prev  === null) venta_prev  = venta_now;\n\n// Deltas\nconst delta_compra_raw = (compra_now ?? 0) - (compra_prev ?? 0);\nconst delta_venta_raw  = (venta_now  ?? 0) - (venta_prev  ?? 0);\nconst delta_compra = +delta_compra_raw.toFixed(4);\nconst delta_venta  = +delta_venta_raw.toFixed(4);\n\n// Intensidades (para logging/uso futuro)\nconst intensidad_compra = intensidad(Math.abs(delta_compra_raw));\nconst intensidad_venta  = intensidad(Math.abs(delta_venta_raw));\n\n// Texto corto de alerta (para tu IF)\nlet mensajes = [];\nif (Math.abs(delta_compra_raw) >= THRESHOLD_ABS) {\n  mensajes.push(`${delta_compra_raw >= 0 ? '⬆️' : '⬇️'} Cambio COMPRA ${delta_compra_raw >= 0 ? 'alza' : 'baja'}: ${fmt2(compra_prev)} → ${fmt2(compra_now)} (Δ ${signed2(delta_compra_raw)})`);\n}\nif (Math.abs(delta_venta_raw) >= THRESHOLD_ABS) {\n  mensajes.push(`${delta_venta_raw >= 0 ? '⬆️' : '⬇️'} Cambio VENTA ${delta_venta_raw >= 0 ? 'alza' : 'baja'}: ${fmt2(venta_prev)} → ${fmt2(venta_now)} (Δ ${signed2(delta_venta_raw)})`);\n}\nconst alerta = mensajes.length ? mensajes.join('\\n') : null;\n\n// Fecha (zona horaria Bolivia)\nconst fecha = r.fecha_consulta ? new Date(r.fecha_consulta) : new Date();\n\n// === Plantilla WhatsApp corregida ===\nconst mensaje = [\n  `⚡ Compra: (${arrow(delta_compra_raw)} Δ ${signed2(delta_compra_raw)})`,\n  `🟢 ${fmt2(compra_prev)} → ${fmt2(compra_now)}`,\n  `⚡ Venta : (${arrow(delta_venta_raw)} Δ ${signed2(delta_venta_raw)})`,\n  `🔴 ${fmt2(venta_prev)} → ${fmt2(venta_now)}`,\n  '━━━━━━━━━━━━━',\n  '🔗 https://datos.solucionesdatosbo.com/',\n  `🗓️ : ${fecha.toLocaleString('es-BO', { timeZone: 'America/La_Paz' })}`\n].join('\\n');\n\nreturn [{\n  alerta,                      // tu IF sigue funcionando con esto\n  mensaje,                     // texto final para WhatsApp\n  umbral: THRESHOLD_ABS,\n  compra_now, compra_prev,\n  venta_now,  venta_prev,\n  delta_compra, delta_venta,\n  fecha_evento: r.fecha_consulta,\n  intensidad_compra, intensidad_venta,\n  INT_ABS_1, INT_ABS_2\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        32
      ],
      "id": "67fb151f-5ced-49b2-bb41-1b4bd49dee6f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "mm",
        "remoteJid": "59172896612",
        "messageText": "={{ $json.mensaje }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -16,
        160
      ],
      "id": "1dfff91e-d8c9-49aa-8276-d99a90ba650e",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -912,
        32
      ],
      "id": "d307a564-7080-4ce9-8bfc-dbb1c2bc86a2",
      "name": "15 MIN"
    }
  ],
  "connections": {
    "IF - ¿Hay alerta?": {
      "main": [
        [
          {
            "node": "MySQL - Registrar alerta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "MySQL - Últimos y Previos": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "IF - ¿Hay alerta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15 MIN": {
      "main": [
        [
          {
            "node": "MySQL - Últimos y Previos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:15 MIN": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "c72fdbd5-63f6-4912-8c81-60470fc8200b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-06T14:56:50.804Z",
      "createdAt": "2025-10-06T14:56:50.804Z",
      "role": "workflow:owner",
      "workflowId": "JvoslKO8C3kWOURA",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}