workflows/2025-11-25_01-01-20_Envío WA.json
{
  "updatedAt": "2025-10-15T20:42:31.000Z",
  "createdAt": "2025-10-15T19:26:11.106Z",
  "id": "RPL8TmdP6Ejpi1gX",
  "name": "Envío WA",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  s.usuario::text          AS usuario,\n  s.telefono::text         AS telefono,\n  s.nombre,\n  s.apellido_paterno,\n  s.apellido_materno,\n  s.municipio,\n  s.\"nombre_recinto\"       AS nombre_recinto,\n  s.estado\nFROM seg_usuario s\nWHERE s.estado = true;",
        "options": {}
      },
      "id": "99c707f1-e42f-4512-93a9-9ffd781dd040",
      "name": "Postgres (leer 1 usuario)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -384,
        240
      ],
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "35H1FB0uk1gnLC70",
          "name": "Postgres account 2"
        }
      },
      "notes": "Selecciona tus credenciales de Postgres al importar este flujo."
    },
    {
      "parameters": {
        "jsCode": "// n8n Code (JavaScript) — Formatear mensaje\n/***** Config *****/\nconst DEFAULT_CC = '591';\nconst TZ = 'America/La_Paz';\nconst TZ_OFFSET = '-04:00';\nconst DEFAULT_LINK = 'https://marcovaldivia.org/';\nconst DEFAULT_INSTANCE = 'DL';\n\n/***** Utils *****/\nconst onlyDigits = (s) => String(s ?? '').replace(/\\D+/g, '');\nconst hasTZ = (s) => /(?:Z|[+\\-]\\d{2}:\\d{2})$/i.test(String(s));\nfunction partsFromDateInTZ(date) {\n  const fmt = new Intl.DateTimeFormat('en-CA', { timeZone: TZ, year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hourCycle: 'h23' });\n  const parts = Object.fromEntries(fmt.formatToParts(date).map(p => [p.type, p.value]));\n  return { Y: parts.year, M: parts.month, D: parts.day, h: parts.hour, m: parts.minute, s: parts.second };\n}\nconst isoFromPartsBo   = (p) => `${p.Y}-${p.M}-${p.D}T${p.h}:${p.m}:${p.s}${TZ_OFFSET}`;\nconst humanFromPartsBo = (p) => `${p.D}/${p.M}/${p.Y} ${p.h}:${p.m}`;\nfunction parseFechaCreacionBo(s) {\n  if (!s) return null;\n  s = String(s).trim();\n  if (hasTZ(s)) {\n    const d = new Date(s);\n    if (!isNaN(d)) { const p = partsFromDateInTZ(d); return { iso: isoFromPartsBo(p), human: humanFromPartsBo(p) }; }\n  }\n  const m = s.match(/^(\\d{4})[-/](\\d{2})[-/](\\d{2})[ T](\\d{2}):(\\d{2})(?::(\\d{2}))?/);\n  if (m) { const p = { Y: m[1], M: m[2], D: m[3], h: m[4], m: m[5], s: m[6] || '00' }; return { iso: isoFromPartsBo(p), human: humanFromPartsBo(p) }; }\n  return null;\n}\nconst sanitize = (s) => String(s ?? '').replace(/[\\u200B-\\u200D\\uFEFF\\u00A0]/g, ' ').replace(/[“”‘’]/g, '\"').trim();\nconst ensureCleanUrl = (s) => { let t = sanitize(s); if (!/^https?:\\/\\//i.test(t)) t = 'https://' + t; t = t.replace(/[)\\].,;:!\"'»]+$/g, ''); return t; };\n\n/***** Entrada *****/\nconst itemsIn = $input.all();\nif (!itemsIn.length) return [];\n\nconst cfg = itemsIn[0].json || {};\nconst cc           = String(cfg.country_code ?? DEFAULT_CC);\nconst instanceName = String(cfg.evo_instance || DEFAULT_INSTANCE);\nconst target       = onlyDigits(cfg.target_usuario || '');\nconst LINK_GLOBAL  = cfg.link ? ensureCleanUrl(cfg.link) : null;\n\n/***** Proceso *****/\nconst out = [];\nfor (const it of itemsIn) {\n  const r = it.json || {};\n  const telCampo = r.telefono ?? r['teléfono'] ?? r.usuario ?? '';\n  const telefonoLocal = onlyDigits(telCampo);\n  if (!telefonoLocal) continue;\n  if (target && telefonoLocal !== target) continue;\n\n  const number = telefonoLocal.startsWith(cc) ? telefonoLocal : `${cc}${telefonoLocal}`;\n  const match_key = onlyDigits(number); // <-- clave de cruce normalizada\n\n  const nombre    = String(r.nombre ?? '').trim();\n  const ap_pat    = String(r.apellido_paterno ?? '').trim();\n  const ap_mat    = String(r.apellido_materno ?? '').trim();\n  const municipio = String(r.municipio ?? '').trim();\n  const recinto   = String(r.nombre_recinto ?? r.recinto ?? '').trim();\n  const name      = [nombre, ap_pat, ap_mat].filter(Boolean).join(' ').trim() || null;\n\n  let fecha = parseFechaCreacionBo(r.fecha_creacion);\n  if (!fecha) { const now = new Date(); const pNow = partsFromDateInTZ(now); fecha = { iso: isoFromPartsBo(pNow), human: humanFromPartsBo(pNow) }; }\n  const LINK = LINK_GLOBAL || ensureCleanUrl(r.link || DEFAULT_LINK);\n\n  const text = sanitize(`🇧🇴 ¡Hola ${nombre} ${ap_pat} ${ap_mat}! 🙌\\nTe has registrado para el recinto 📍 ${recinto} en el municipio ${municipio}.\\nEstás registrado con el número 📱 ${telefonoLocal}.\\n🗓️ Fecha de registro: ${fecha.human}\\n\\n¡Estamos a 5 días! y queremos confirmar:\\n¿Tus datos son los correctos? Responde ✅ Sí o ❌ No.\\nSi quieres, envíanos una 📸 foto tuya para tu carnet. ¡Gracias! 🙏\\n\\n${LINK}`);\n\n  out.push({ json: { number, match_key, text, linkPreview: true, instanceName, send_instance: instanceName, name, fecha_creacion: fecha.iso } });\n}\nreturn out;"
      },
      "id": "0a8d41b1-20fb-41ad-8054-f15ef6b74e68",
      "name": "Formatear mensaje (JS)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Linter\nconst MAX_LEN = 4000;\nconst items = $input.all().map(item => {\n  const j = item.json || {};\n  const reasons = [];\n  const text = String(j.text ?? '').trim();\n  if (!text) reasons.push('Texto vacío');\n  if (/\\{\\{[^}]+\\}\\}/.test(text) || /\\$\\{[^}]+\\}/.test(text)) reasons.push('Placeholders sin resolver');\n  if (text.length > MAX_LEN) reasons.push(`Excede ${MAX_LEN} caracteres`);\n  if (/undefined|null/.test(text)) reasons.push('Valores undefined/null en el cuerpo');\n  const approved = reasons.length === 0;\n  return { json: { ...j, text_checked: approved ? text : text.slice(0, MAX_LEN), approved, reasons } };\n});\nreturn items;"
      },
      "id": "2eb01ae7-58d7-4e45-ad2c-c1b0702bc9ba",
      "name": "Chequeo de envío (JS)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ok",
              "leftValue": "={{ $json.approved }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4fec3d3-22ae-48c9-8046-c4535d0dbc1a",
      "name": "IF: Mensaje aprobado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        256,
        240
      ]
    },
    {
      "parameters": {
        "resource": "chat-api",
        "instanceName": "={{ $json.send_instance || $json.instanceName }}",
        "numbers": "={{ $json.number }}"
      },
      "id": "7692b320-25f5-4f4e-87cd-f329be42d61f",
      "name": "Chat: Verificar número",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        464,
        160
      ],
      "credentials": {
        "evolutionApi": {
          "id": "XJEGvlLekyA8lBQ3",
          "name": "dasa"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Expandir verificación a 1 item por número y generar match_key\nconst out = [];\nfor (const it of $input.all()) {\n  const arr = it.json?.data ?? it.json?.datos ?? [];\n  if (Array.isArray(arr) && arr.length) {\n    for (const x of arr) {\n      const num = String(x.number ?? x.número ?? x.numero ?? '').replace(/\\D+/g, '');\n      out.push({ json: { jid: x.jid ?? null, exists: Boolean(x.exists ?? x.existe ?? false), number_checked: num, match_key: num } });\n    }\n  } else {\n    const num = String(it.json?.number ?? it.json?.número ?? it.json?.numero ?? '').replace(/\\D+/g, '');\n    out.push({ json: { jid: it.json?.jid ?? null, exists: Boolean(it.json?.exists ?? it.json?.existe ?? false), number_checked: num, match_key: num } });\n  }\n}\nreturn out;"
      },
      "id": "03c19441-154a-490f-a831-df56d619aeee",
      "name": "Check: Expand items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        160
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "match_key",
              "field2": "match_key"
            }
          ]
        },
        "outputDataFrom": "input1and2",
        "options": {}
      },
      "id": "5ebaba0e-9ae4-499f-94f4-23e3834c72d9",
      "name": "Merge (verificación + mensaje)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        864,
        240
      ],
      "alwaysOutputData": true,
      "notes": "Empareja por match_key (solo dígitos)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "wa",
              "leftValue": "={{ $json.exists }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cb9097c5-78e9-4555-b2be-fdd6b72079c8",
      "name": "IF: Existe en WhatsApp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1056,
        240
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "da89d9e5-9d61-4d74-af1a-fdd6cb63242b",
      "name": "Split In Batches (1)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1264,
        176
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "send_number",
              "value": "={{ $json.number_checked || $json.number }}"
            },
            {
              "name": "send_text",
              "value": "={{ $json.text_checked || $json.text }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text_checked || $json.text }}"
            },
            {
              "name": "messageText",
              "value": "={{ $json.text_checked || $json.text }}"
            },
            {
              "name": "to",
              "value": "={{ $json.jid || ($json.number_checked || $json.number) + '@s.whatsapp.net' }}"
            },
            {
              "name": "jid",
              "value": "={{ $json.jid }}"
            },
            {
              "name": "number",
              "value": "={{ $json.number_checked || $json.number }}"
            },
            {
              "name": "instanceName",
              "value": "={{ $json.send_instance || $json.instanceName }}"
            },
            {
              "name": "send_instance",
              "value": "={{ $json.send_instance || $json.instanceName }}"
            }
          ],
          "boolean": [
            {
              "name": "linkPreview",
              "value": "={{ $json.linkPreview ?? false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "143002d3-63a8-4bca-aa61-638d02593123",
      "name": "Set: Build payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1488,
        160
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.send_instance }}",
        "remoteJid": "={{ $json.jid || ($json.number_checked || $json.number) + '@s.whatsapp.net' }}",
        "messageText": "={{ $json.text_checked || $json.text }}",
        "options_message": {}
      },
      "id": "eb5c8e0f-c1f4-4c22-9776-0bb03e884035",
      "name": "Enviar texto",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1664,
        192
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "Evolution account"
        }
      },
      "notes": "Si tu versión requiere mapear campos, selecciónalos en la UI (to/jid/text)."
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "wa_status",
              "value": "no_whatsapp"
            },
            {
              "name": "wa_reason",
              "value": "Número no posee cuenta de WhatsApp (exists:false)"
            }
          ]
        },
        "options": {}
      },
      "id": "8df184ee-e889-4323-a088-28388b16384c",
      "name": "Set: Sin WhatsApp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1280,
        336
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "wa_status",
              "value": "blocked_by_linter"
            },
            {
              "name": "wa_reasons",
              "value": "={{ JSON.stringify($json.reasons || []) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f295b333-a8ac-49ca-8acd-f1db7dc467e0",
      "name": "Set: No apto para envío",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        464,
        496
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "eed65ee8-650e-4fee-b9e8-79e59db6dcdc",
      "name": "Set: Passthrough (mensaje)1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        464,
        320
      ],
      "notes": "Conserva text/instance/linkPreview/match_key de la rama mensaje"
    }
  ],
  "connections": {
    "Postgres (leer 1 usuario)": {
      "main": [
        [
          {
            "node": "Formatear mensaje (JS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear mensaje (JS)": {
      "main": [
        [
          {
            "node": "Chequeo de envío (JS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chequeo de envío (JS)": {
      "main": [
        [
          {
            "node": "IF: Mensaje aprobado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Mensaje aprobado?": {
      "main": [
        [
          {
            "node": "Chat: Verificar número",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set: Passthrough (mensaje)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: No apto para envío",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat: Verificar número": {
      "main": [
        [
          {
            "node": "Check: Expand items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Expand items": {
      "main": [
        [
          {
            "node": "Merge (verificación + mensaje)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Passthrough (mensaje)1": {
      "main": [
        [
          {
            "node": "Merge (verificación + mensaje)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge (verificación + mensaje)": {
      "main": [
        [
          {
            "node": "IF: Existe en WhatsApp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Existe en WhatsApp?": {
      "main": [
        [
          {
            "node": "Split In Batches (1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: Sin WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches (1)": {
      "main": [
        [
          {
            "node": "Set: Build payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Build payload": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6b3b201b-9edf-4697-8d5f-e46328b5f5f7",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-15T19:26:11.113Z",
      "createdAt": "2025-10-15T19:26:11.113Z",
      "role": "workflow:owner",
      "workflowId": "RPL8TmdP6Ejpi1gX",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}