workflows/2025-11-28_01-00-21_rrhh_planificacion.json
{
  "updatedAt": "2025-10-21T18:44:40.000Z",
  "createdAt": "2025-10-02T13:46:23.381Z",
  "id": "6UHI2gQZtLaJYQqC",
  "name": "rrhh_planificacion",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "70ba5c74-60d7-46a2-83cf-968d41857817",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1456,
        64
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "evInstance",
              "value": "mm"
            },
            {
              "name": "areaId",
              "value": "3"
            },
            {
              "name": "adminNumber",
              "value": "59172896612"
            }
          ]
        },
        "options": {}
      },
      "id": "fa29c703-feb3-44c2-919b-c01f69fbbbbe",
      "name": "Set Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1280,
        64
      ]
    },
    {
      "parameters": {
        "url": "https://apirrhh.envibol.site/api/v1/N8n/Areas",
        "options": {}
      },
      "id": "f28f8005-e01d-457e-bec3-3dbb0b5cb9c7",
      "name": "HTTP Areas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1088,
        64
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://apirrhh.envibol.site/api/v1/N8n/GetUnidad/' + $node[\"Set Params\"].json.areaId }}",
        "options": {}
      },
      "id": "a31530ee-23b0-4224-b7c4-0a5623ca2895",
      "name": "HTTP GetUnidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -896,
        64
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "eb1ce421-d4b3-4023-9ff8-3dba8e92584e",
      "name": "Split Out Items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -720,
        64
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "areaName",
              "value": "={{ (function(){ const areas = ($item(0).$node[\"HTTP Areas\"].json.data || []); const id = Number($item(0).$node[\"Set Params\"].json.areaId); const a = areas.find(x => x.idgenClasificador === id) || {}; return (a.descripcion || '').trim(); })() }}"
            },
            {
              "name": "fullName",
              "value": "={{ [$json.nombre].filter(Boolean).join(' ').replace(/\\s+/g,' ').trim() }}"
            },
            {
              "name": "number",
              "value": "={{ String($json.celular || '').replace(/\\D/g,'') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1c9b293-41f8-46b3-86dd-a89461a1ae78",
      "name": "Set Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -544,
        64
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{ '¡Hola, ' + $json.fullName + '! 👋\\n' + 'Buenos días y un excelente inicio de jornada. En ENVIBOL, valoramos mucho tu compromiso en el área de ' + $json.areaName + '. 💪\\n ¡A darlo todo hoy! 🚀 Estamos seguros de que lograremos grandes cosas juntos. ✨' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "01717561-08d8-4e8d-b995-ff58f21dad2e",
      "name": "Set Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -368,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "fea95924-40d9-4955-ae6e-a8b86eb9f8e4",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "561c0032-4165-4b74-8ce0-ccd8c0379b94",
      "name": "IF Tel válido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -176,
        64
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $item(0).$node[\"Set Params\"].json.evInstance }}",
        "remoteJid": "={{ $json.number + '@s.whatsapp.net' }}",
        "messageText": "={{ $json.message }}",
        "options_message": {
          "delay": 3000
        }
      },
      "id": "2656ab4d-4771-4f54-853e-70de868e469a",
      "name": "Evolution API: Enviar texto",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "mmmmm"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "ENVIADO"
            },
            {
              "name": "log",
              "value": "={{ $json.number + ' · ' + $json.fullName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a4a4c3b-7296-493f-ac8d-2547b928d9ce",
      "name": "Set Sent (log)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "NO_ENVIADO_TEL_INVALIDO"
            },
            {
              "name": "log",
              "value": "={{ $json.number + ' · ' + $json.fullName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "17f4169e-28b9-4c51-a423-0212e2a28685",
      "name": "Set invalid (log)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {},
      "id": "0782984d-62c9-4afd-9123-bf32353c9cf2",
      "name": "Merge Logs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        400,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items = true\nconst items = $input.all();\nlet enviados = 0, noEnviados = 0;\n\nfor (const it of items) {\n  const st = (it.json.status || '').toUpperCase();\n  if (st === 'ENVIADO') enviados++;\n  if (['NO_ENVIADO_TEL_INVALIDO','NO_ENVIADO','ERROR'].includes(st)) noEnviados++;\n}\n\nconst area = $item(0).$node[\"Set Normalize\"].json.areaName || 'planificación';\nconst reportText =\n  `Reporte (Nombre o tipo) de ${area} \\n` +\n  `Enviados: ${enviados}\\n` +\n  `No enviados: ${noEnviados}`;\n\nreturn [{ json: { reportText } }];"
      },
      "id": "1b2c7878-6ee3-451c-85b7-c2653f857f9c",
      "name": "Code · Build Report Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        64
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $item(0).$node[\"Set Params\"].json.evInstance }}",
        "remoteJid": "={{ $item(0).$node[\"Set Params\"].json.adminNumber + '@s.whatsapp.net' }}",
        "messageText": "={{ $json.reportText }}",
        "options_message": {}
      },
      "id": "5affabb9-36f9-46d3-b3ee-917b7399e585",
      "name": "Evolution API: Enviar resumen",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        784,
        64
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "mmmmm"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Params": {
      "main": [
        [
          {
            "node": "HTTP Areas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Areas": {
      "main": [
        [
          {
            "node": "HTTP GetUnidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GetUnidad": {
      "main": [
        [
          {
            "node": "Split Out Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Items": {
      "main": [
        [
          {
            "node": "Set Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Normalize": {
      "main": [
        [
          {
            "node": "Set Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message": {
      "main": [
        [
          {
            "node": "IF Tel válido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tel válido": {
      "main": [
        [
          {
            "node": "Evolution API: Enviar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set invalid (log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API: Enviar texto": {
      "main": [
        [
          {
            "node": "Set Sent (log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sent (log)": {
      "main": [
        [
          {
            "node": "Merge Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set invalid (log)": {
      "main": [
        [
          {
            "node": "Merge Logs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Logs": {
      "main": [
        [
          {
            "node": "Code · Build Report Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Build Report Text": {
      "main": [
        [
          {
            "node": "Evolution API: Enviar resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5d566c43-abcd-4e2d-af9e-56a495bba570",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-02T13:46:23.384Z",
      "createdAt": "2025-10-02T13:46:23.384Z",
      "role": "workflow:owner",
      "workflowId": "6UHI2gQZtLaJYQqC",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}