workflows/2025-11-25_01-00-17_Reportsend.json
{
  "updatedAt": "2025-09-08T16:22:20.000Z",
  "createdAt": "2025-09-08T15:15:12.366Z",
  "id": "5a3pHXaR686zPcj5",
  "name": "Reportsend",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "88ff58f5-cb29-416d-8273-09be968d9de4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1456,
        64
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "evInstance",
              "value": "mm"
            },
            {
              "name": "areaId",
              "value": "3"
            },
            {
              "name": "adminNumber",
              "value": "59177112393"
            }
          ]
        },
        "options": {}
      },
      "id": "f4abb9d0-99a2-4fa0-8999-05d9728b470b",
      "name": "Set Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1280,
        64
      ]
    },
    {
      "parameters": {
        "url": "https://apirrhh.envibol.site/api/v1/N8n/Areas",
        "options": {}
      },
      "id": "adee9961-0e59-43c4-b0c9-19d167e4c055",
      "name": "HTTP Areas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1088,
        64
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://apirrhh.envibol.site/api/v1/N8n/GetUnidad/' + $node[\"Set Params\"].json.areaId }}",
        "options": {}
      },
      "id": "995414e8-7630-468b-b168-bb30299bef54",
      "name": "HTTP GetUnidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -896,
        64
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "824a0b8b-9c4b-4a3b-8ae3-8bafb65d28a1",
      "name": "Split Out Items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -720,
        64
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "areaName",
              "value": "={{ (function(){ const areas = ($item(0).$node[\"HTTP Areas\"].json.data || []); const id = Number($item(0).$node[\"Set Params\"].json.areaId); const a = areas.find(x => x.idgenClasificador === id) || {}; return (a.descripcion || '').trim(); })() }}"
            },
            {
              "name": "fullName",
              "value": "={{ [$json.nombre].filter(Boolean).join(' ').replace(/\\s+/g,' ').trim() }}"
            },
            {
              "name": "number",
              "value": "={{ String($json.celular || '').replace(/\\D/g,'') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "154d1831-b05d-4fbe-9963-1850c440df68",
      "name": "Set Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -544,
        64
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{ '¡Hola, ' + $json.fullName + '! 👋\\n' + 'Buenos días y un excelente inicio de jornada. En ENVIBOL, valoramos mucho tu compromiso en el área de ' + $json.areaName + '. 💪\\n ¡A darlo todo hoy! 🚀 Estamos seguros de que lograremos grandes cosas juntos. ✨' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dee17e5a-11ff-4ffa-83f3-da51d6e0f218",
      "name": "Set Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -368,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "fea95924-40d9-4955-ae6e-a8b86eb9f8e4",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8993d602-327e-4ce6-89de-27109da546ef",
      "name": "IF Tel válido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -176,
        64
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $item(0).$node[\"Set Params\"].json.evInstance }}",
        "remoteJid": "={{ $json.number + '@s.whatsapp.net' }}",
        "messageText": "={{ $json.message }}",
        "options_message": {
          "delay": 3000
        }
      },
      "id": "42ecbe47-9582-4e85-812c-5a6755622264",
      "name": "Evolution API: Enviar texto",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "ENVIADO"
            },
            {
              "name": "log",
              "value": "={{ $json.number + ' · ' + $json.fullName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2ae98dc4-8f36-45fd-80b1-12f3eb43b2f9",
      "name": "Set Sent (log)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "NO_ENVIADO_TEL_INVALIDO"
            },
            {
              "name": "log",
              "value": "={{ $json.number + ' · ' + $json.fullName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3ed0faa2-c773-4edc-8b8c-bc764d971af5",
      "name": "Set invalid (log)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {},
      "id": "9809d224-e608-45a0-bd13-81f12ec2e371",
      "name": "Merge Logs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        400,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items = true\nconst items = $input.all();\nlet enviados = 0, noEnviados = 0;\n\nfor (const it of items) {\n  const st = (it.json.status || '').toUpperCase();\n  if (st === 'ENVIADO') enviados++;\n  if (['NO_ENVIADO_TEL_INVALIDO','NO_ENVIADO','ERROR'].includes(st)) noEnviados++;\n}\n\nconst area = $item(0).$node[\"Set Normalize\"].json.areaName || 'planificación';\nconst reportText =\n  `Reporte (Nombre o tipo) de ${area} \\n` +\n  `Enviados: ${enviados}\\n` +\n  `No enviados: ${noEnviados}`;\n\nreturn [{ json: { reportText } }];"
      },
      "id": "ee7e5664-b8f4-4f6c-901a-fa6c4413b720",
      "name": "Code · Build Report Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        64
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $item(0).$node[\"Set Params\"].json.evInstance }}",
        "remoteJid": "={{ $item(0).$node[\"Set Params\"].json.adminNumber + '@s.whatsapp.net' }}",
        "messageText": "={{ $json.reportText }}",
        "options_message": {}
      },
      "id": "617460ee-8650-407a-a577-0a72db3151a2",
      "name": "Evolution API: Enviar resumen",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        784,
        64
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "skipped",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "188347dc-eb4a-4287-a57b-b401b40efeaf",
      "name": "No-op (tel inválido)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        0,
        320
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Params": {
      "main": [
        [
          {
            "node": "HTTP Areas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Areas": {
      "main": [
        [
          {
            "node": "HTTP GetUnidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GetUnidad": {
      "main": [
        [
          {
            "node": "Split Out Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Items": {
      "main": [
        [
          {
            "node": "Set Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Normalize": {
      "main": [
        [
          {
            "node": "Set Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message": {
      "main": [
        [
          {
            "node": "IF Tel válido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tel válido": {
      "main": [
        [
          {
            "node": "Evolution API: Enviar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set invalid (log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API: Enviar texto": {
      "main": [
        [
          {
            "node": "Set Sent (log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sent (log)": {
      "main": [
        [
          {
            "node": "Merge Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set invalid (log)": {
      "main": [
        [
          {
            "node": "Merge Logs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Logs": {
      "main": [
        [
          {
            "node": "Code · Build Report Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code · Build Report Text": {
      "main": [
        [
          {
            "node": "Evolution API: Enviar resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7bc13ea5-2223-45d1-b579-212e8a8b2380",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-08T15:15:12.370Z",
      "createdAt": "2025-09-08T15:15:12.370Z",
      "role": "workflow:owner",
      "workflowId": "5a3pHXaR686zPcj5",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}