workflows/2025-11-25_01-00-13_PROD v4 — P2P 24h → JPG → Evolution (HTTP) — FIX.json
{
  "updatedAt": "2025-10-01T01:30:42.344Z",
  "createdAt": "2025-10-01T01:30:42.344Z",
  "id": "4OyBgD4S8DKs8HIJ",
  "name": "PROD v4 — P2P 24h → JPG → Evolution (HTTP) — FIX",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "0df58414-336f-4c9c-9695-7501fae6c2e0",
      "name": "▶️ Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "function pad(n){return String(n).padStart(2,'0')}\nfunction toMysql(dt){return `${dt.getFullYear()}-${pad(dt.getMonth()+1)}-${pad(dt.getDate())} ${pad(dt.getHours())}:${pad(dt.getMinutes())}:${pad(dt.getSeconds())}`}\n\nconst tz = 'America/La_Paz';\nconst end = new Date(); end.setSeconds(0,0);\nconst start = new Date(end.getTime() - 24*3600*1000); start.setSeconds(0,0);\n\n// Bonito en subtítulo\nconst fmt = (d) => d.toLocaleString('es-BO', { timeZone: tz });\n\nreturn [{\n  startLocal: toMysql(start),\n  endLocal:   toMysql(end),\n  subtitleStart: fmt(start),\n  subtitleEnd:   fmt(end),\n  title: 'Precios P2P: Compra y Venta (BOB)'\n}];\n"
      },
      "id": "b2629e35-aa1f-46ec-a5b5-104e72682147",
      "name": "⚙️ Params (ventana 24h)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        144
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'Compra' AS serie, fecha_hora, precio\nFROM compra_bob\nWHERE fecha_hora >= '{{$json[\"startLocal\"]}}'\n  AND fecha_hora <= '{{$json[\"endLocal\"]}}'\nUNION ALL\nSELECT 'Venta'  AS serie, fecha_hora, precio\nFROM venta_bob\nWHERE fecha_hora >= '{{$json[\"startLocal\"]}}'\n  AND fecha_hora <= '{{$json[\"endLocal\"]}}'\nORDER BY fecha_hora ASC;\n",
        "options": {}
      },
      "id": "e843754e-bd1a-45b6-9b83-57d682ade002",
      "name": "🗄️ MySQL — serie 24h",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        -800,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Convierte filas MySQL -> datasets para Chart.js (x = timestamp ms, y = precio)\nconst compra = [];\nconst venta  = [];\n\n// Parse seguro de fecha (acepta ISO o 'YYYY-MM-DD HH:mm:ss')\nconst toTs = (s) => {\n  if (!s) return null;\n  const t = Date.parse(String(s));\n  return Number.isFinite(t) ? t : null;\n};\n\nfor (const it of items) {\n  const r = it.json || {};\n  const x = toTs(r.fecha_hora);\n  const y = (r.precio != null) ? Number(r.precio) : null;\n  if (!x || !Number.isFinite(y)) continue;\n  (r.serie === 'Compra' ? compra : venta).push({ x, y });\n}\n\nconst byX = (a,b)=>a.x-b.x;\ncompra.sort(byX);\nventa.sort(byX);\n\nconst all = [...compra, ...venta].map(p => p.y);\nconst minY = all.length ? Math.min(...all) : 0;\nconst maxY = all.length ? Math.max(...all) : 1;\nconst pad  = all.length ? Math.max((maxY - minY) * 0.10, 0.02) : 0.1;\nconst suggestedMin = +(minY - pad).toFixed(2);\nconst suggestedMax = +(maxY + pad).toFixed(2);\n\nconst tz = 'America/La_Paz';\nconst end = new Date(); end.setSeconds(0,0);\nconst start = new Date(end.getTime() - 24*3600*1000); start.setSeconds(0,0);\nconst fmt = (d) => d.toLocaleString('es-BO', { timeZone: tz });\nconst title = 'Precios P2P: Compra y Venta (BOB)';\nconst subtitle = `Mostrando últimas 24 horas: ${fmt(start)} hasta ${fmt(end)}`;\n\nconst green = '#2ecc71';\nconst red   = '#e74c3c';\n\nconst chartConfig = {\n  type: 'line',\n  data: { datasets: [\n    { label:'Precio Compra', data:compra, borderColor:green, backgroundColor:green,\n      tension:0.2, pointRadius:2, pointHoverRadius:3, pointBorderColor:green,\n      pointBackgroundColor:'#fff', pointBorderWidth:1, spanGaps:true },\n    { label:'Precio Venta',  data:venta,  borderColor:red,   backgroundColor:red,\n      tension:0.2, pointRadius:2, pointHoverRadius:3, pointBorderColor:red,\n      pointBackgroundColor:'#fff', pointBorderWidth:1, spanGaps:true }\n  ]},\n  options: {\n    parsing:false, animation:false,\n    layout:{ padding:{ top:10, right:16, bottom:8, left:8 } },\n    elements:{ line:{ borderWidth:2 } },\n    plugins:{\n      title:{ display:true, text:title, font:{ size:16, weight:'bold' } },\n      subtitle:{ display:true, text:subtitle, color:'#4b5563', font:{ size:12 } },\n      legend:{ position:'bottom', labels:{ usePointStyle:true, boxWidth:8 } },\n      tooltip:{ callbacks:{ label:(ctx)=>`${ctx.dataset.label}: $${Number(ctx.parsed.y).toFixed(2)}` } }\n    },\n    scales:{\n      x:{ type:'time', time:{ unit:'hour', tooltipFormat:'yyyy-MM-dd HH:mm' },\n          title:{ display:true, text:'Hora' }, ticks:{ maxRotation:0, autoSkip:true } },\n      y:{ title:{ display:true, text:'Precio (USDT)' }, suggestedMin, suggestedMax,\n          ticks:{ callback:(v)=>`$${Number(v).toFixed(2)}` }, grid:{ color:'#e5e7eb' } }\n    }\n  }\n};\n\nconst caption = `${title}\\n${subtitle}`;\nreturn [{ chartConfig, caption }];\n"
      },
      "id": "035ddff5-c230-40e3-a4a9-2accf3674874",
      "name": "🎨 Build Chart.js (24h estilo)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ format: 'jpg', backgroundColor: 'white', width: 1200, height: 600, chart: $json['chartConfig'], version: '4.4.0' }) }}",
        "options": {
          "response": {},
          "timeout": 60000
        }
      },
      "id": "8f669ef4-a10f-4192-b9a6-0880022fb6c3",
      "name": "🖼️ QuickChart → JPG (binario)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -256,
        144
      ]
    },
    {
      "parameters": {
        "fileName": "reporte_p2p_24h.jpg",
        "options": {}
      },
      "id": "672a695e-a1f1-417b-84a6-89e8d48a1cfa",
      "name": "💾 Guardar JPG (opcional)",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.ril.serviciocliente.site/message/sendMedia/mm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "REEMPLAZA_CON_TU_APIKEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ number: \"59172896612\", mediatype: \"image\", mimetype: \"image/jpeg\", caption: $node[\"🎨 Build Chart.js (24h estilo)\"].json.caption, media: $binary.data?.data || $binary.image?.data, fileName: \"reporte_p2p_24h.jpg\" }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "dc9b53b3-cccd-4136-99ab-add4668763a8",
      "name": "📤 Evolution — HTTP (imagen)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        144
      ]
    }
  ],
  "connections": {
    "▶️ Manual Trigger": {
      "main": [
        [
          {
            "node": "⚙️ Params (ventana 24h)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚙️ Params (ventana 24h)": {
      "main": [
        [
          {
            "node": "🗄️ MySQL — serie 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗄️ MySQL — serie 24h": {
      "main": [
        [
          {
            "node": "🎨 Build Chart.js (24h estilo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 Build Chart.js (24h estilo)": {
      "main": [
        [
          {
            "node": "🖼️ QuickChart → JPG (binario)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ QuickChart → JPG (binario)": {
      "main": [
        [
          {
            "node": "📤 Evolution — HTTP (imagen)",
            "type": "main",
            "index": 0
          },
          {
            "node": "💾 Guardar JPG (opcional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "d684e21c-6879-48a4-924b-8d88bfb7e3da",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-01T01:30:42.353Z",
      "createdAt": "2025-10-01T01:30:42.353Z",
      "role": "workflow:owner",
      "workflowId": "4OyBgD4S8DKs8HIJ",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}