workflows/2025-12-02_01-00-32_solo enviar.json
{
  "updatedAt": "2025-09-03T22:22:13.000Z",
  "createdAt": "2025-09-03T03:24:36.762Z",
  "id": "8s5gcOq5gxC3NVWN",
  "name": "solo enviar",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "10 22 * * *"
            }
          ]
        }
      },
      "id": "67e15fa7-b3ed-4917-803f-4ec89cff3c66",
      "name": "Cron 22:10",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "3c7d0ecb-4f88-4bd8-82fd-03886d568262",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {
        "mode": "passThrough"
      },
      "id": "648d23aa-7b6a-4b38-86c2-a0cc73845b6c",
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        240,
        128
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "modo",
              "value": "text"
            },
            {
              "name": "message",
              "value": "Hola, {{fullName}}: 📣 Comunicado área {{areaId}} a las 10:30."
            },
            {
              "name": "mediaUrl"
            },
            {
              "name": "fileName",
              "value": "aviso.pdf"
            },
            {
              "name": "operatorTo",
              "value": "59172896612"
            },
            {
              "name": "overrideTo"
            },
            {
              "name": "evBase",
              "value": "={{$env.EV_BASE_URL}}"
            },
            {
              "name": "evInstance",
              "value": "={{$env.EV_INSTANCE}}"
            },
            {
              "name": "evApikey",
              "value": "={{$env.EV_APIKEY}}"
            }
          ],
          "number": [
            {
              "name": "areaId",
              "value": 3
            },
            {
              "name": "batchSize",
              "value": 25
            },
            {
              "name": "delaySeconds",
              "value": 0.6
            }
          ],
          "boolean": [
            {
              "name": "verifyNumber"
            }
          ]
        },
        "options": {}
      },
      "id": "1ea04518-486e-4d86-a39b-d818e937a3b7",
      "name": "Set Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        480,
        128
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://apirrhh.envibol.site/api/v1/N8n/GetUnidad/' + $json['areaId'] }}",
        "options": {}
      },
      "id": "13cd671d-27a6-465e-a13a-6afc65f97e1f",
      "name": "HTTP GetUnidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        720,
        128
      ]
    },
    {
      "parameters": {
        "functionCode": "/**\n * Function Expand con placeholders y métricas (versión robusta)\n */\nconst input = $json;\n\n// --- Lee Set Params\nconst SP_NAME = 'Set Params';\nlet p = {};\ntry {\n  const sp = $items(SP_NAME, 0, 0);\n  if (sp && sp[0] && sp[0].json) p = sp[0].json;\n} catch {}\n\n// Normaliza/valida params\np = {\n  areaId: Number(p.areaId) || null,\n  modo: (p.modo ?? 'text').toString().trim(),\n  message: (p.message ?? 'Hola, {{fullName}}.').toString(),\n  mediaUrl: (p.mediaUrl ?? '').toString().trim(),\n  fileName: (p.fileName ?? 'adjunto.pdf').toString().trim(),\n  operatorTo: (p.operatorTo ?? '').toString().trim(),\n  overrideTo: (p.overrideTo ?? '').toString().trim(),\n  delaySeconds: Number(p.delaySeconds ?? 0.6),\n\n  // OJO: usa evApiKey (K mayúscula) en todo el flujo\n  evBase: (p.evBase ?? '').toString().trim().replace(/\\/+$/,''),\n  evInstance: (p.evInstance ?? '').toString().trim(),\n  evApiKey: (p.evApiKey ?? p.evApikey ?? '').toString().trim(),\n};\n\nif (!p.evBase || !p.evInstance || !p.evApiKey) {\n  throw new Error('Faltan credenciales Evolution (evBase/evInstance/evApiKey).');\n}\n\n// --- Helpers\nconst onlyDigits = (s) => String(s ?? '').replace(/\\D/g, '');\nconst toE164BO = (raw) => {\n  let n = onlyDigits(raw);\n  if (!n) return null;\n  if (/^591\\d{8}$/.test(n)) return n;      // ya viene con 591\n  if (/^7\\d{8}$/.test(n))  return '591' + n; // celular 9 dígitos iniciando en 7\n  if (/^\\d{8}$/.test(n))   return '591' + n; // 8 dígitos\n  const mm = n.match(/591\\d{8}/);\n  return mm ? mm[0] : null;\n};\n\nfunction render(tpl, ctx) {\n  return String(tpl ?? '')\n    .replace(/{{\\s*([\\w.]+)\\s*}}/g, (_, key) => {\n      const v = key.split('.').reduce((acc,k)=> (acc && acc[k] !== undefined) ? acc[k] : '', ctx);\n      return (v === null || v === undefined) ? '' : String(v);\n    })\n    .replace(/\\s+/g,' ')\n    .trim();\n}\n\n// --- Validación de entrada HTTP previa\nif (input && input.succeeded === false) {\n  throw new Error(`API GetUnidad falló: ${input.message || 'sin mensaje'}`);\n}\n\nconst personas = Array.isArray(input?.data) ? input.data\n               : Array.isArray(input)       ? input\n               : [];\n\nconst seen = new Set();\nconst recipients = [];\n\nfor (const person of personas) {\n  const num = toE164BO(person.celular);\n  if (!num || seen.has(num)) continue;\n  seen.add(num);\n\n  const fullName = [person.nombre, person.apellidoPaterno, person.apellidoMaterno]\n    .filter(Boolean).join(' ').replace(/\\s+/g,' ').trim();\n\n  const ctx = { ...person, fullName, areaId: p.areaId };\n\n  let msg = render(p.message, ctx);\n  const override = toE164BO(p.overrideTo);\n  if (override) msg = `[TEST — Área ${p.areaId ?? '-'}] ${msg}`;\n\n  recipients.push({\n    json: {\n      to: override || num,\n      modo: p.modo,\n      message: msg,\n      mediaUrl: p.mediaUrl,\n      fileName: p.fileName,\n\n      evBase: p.evBase,\n      evInstance: p.evInstance,\n      evApiKey: p.evApiKey,   // <- nombre consistente\n\n      operatorTo: onlyDigits(p.operatorTo),\n      delaySeconds: p.delaySeconds,\n      areaId: p.areaId,\n\n      fullName,\n      ci: person.ci ?? null,\n    }\n  });\n}\n\n// --- Métricas\nconst store = this.getWorkflowStaticData('global');\nstore.broadcast ??= {};\nconst broadcastId = `b_${Date.now()}`;\nstore.broadcast[broadcastId] = {\n  areaId: p.areaId,\n  total: recipients.length,\n  sent: 0,\n  failed: 0,\n  invalid: 0,\n  startedAt: new Date().toISOString(),\n};\n\nreturn recipients.map(it => ({ json: { ...it.json, broadcastId } }));"
      },
      "id": "f413cd54-2e9f-4033-a8e5-6aba82c5ade5",
      "name": "Function Expand",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        960,
        128
      ]
    },
    {
      "parameters": {
        "batchSize": "={{$items('Set Params', 0, 0)[0].json.batchSize}}",
        "options": {}
      },
      "id": "c2281b4f-7cb5-489a-b577-d358f8f03240",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1200,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.modo}}",
              "value2": "text"
            }
          ]
        }
      },
      "id": "309d766d-cb63-413b-a870-5f6f66675222",
      "name": "IF Text",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.modo}}",
              "value2": "image"
            }
          ]
        }
      },
      "id": "7cef05bf-0cd1-423f-8156-ff00a16068c3",
      "name": "IF Image",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.modo}}",
              "value2": "document"
            }
          ]
        }
      },
      "id": "05046df6-2c3d-45b7-88ff-7289eb78655f",
      "name": "IF Document",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        224
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=={{ ( ($json.evBase || 'https://hooks.ril.serviciocliente.site').toString().trim().replace(/\\/+$/,'') ) + '/summary' }}",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "=json"
        },
        "bodyParametersJson": "=",
        "headerParametersJson": "=={{ {\n  \"Content-Type\": \"application/json\",\n  \"x-ev-instance\": $json.evInstance,\n  \"x-api-key\": $json.evApiKey\n} }}",
        "queryParametersJson": "="
      },
      "id": "d6e59af5-8803-4690-908c-2c29972137e9",
      "name": "Send Text (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1680,
        32
      ]
    },
    {
      "parameters": {
        "url": "={{$json.evBase}}/message/sendImage/{{$json.evInstance}}",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={\"apikey\": $json.evApikey, \"Content-Type\": \"application/json\"}"
      },
      "id": "22ddcf6c-65cc-4675-a35f-c010e6b3b92e",
      "name": "Send Image (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1680,
        128
      ]
    },
    {
      "parameters": {
        "url": "={{$json.evBase}}/message/sendFile/{{$json.evInstance}}",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={\"apikey\": $json.evApikey, \"Content-Type\": \"application/json\"}"
      },
      "id": "cef258ba-3dc7-4126-ad0d-ab8c142833bb",
      "name": "Send Document (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1680,
        224
      ],
      "disabled": true
    },
    {
      "parameters": {
        "functionCode": "\nconst store = this.getWorkflowStaticData('global');\nconst id = $json.broadcastId;\nconst ok = ($json.statusCode === undefined) || ($json.statusCode >= 200 && $json.statusCode < 300);\nif (ok) store.broadcast[id].sent++;\nelse store.broadcast[id].failed++;\nreturn items;\n"
      },
      "id": "054f1767-1537-4cfe-8aa5-9a493a1ae26b",
      "name": "Function Tally",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1920,
        128
      ]
    },
    {
      "parameters": {
        "amount": "={{$json.delaySeconds || 0.6}}",
        "unit": "seconds"
      },
      "id": "e2b5e9ba-d0e1-4c1e-9ad1-548a6ea7488c",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2160,
        128
      ],
      "webhookId": "a9e0848d-f485-4d99-b0f7-a3839827473c"
    },
    {
      "parameters": {
        "functionCode": "\nconst store = this.getWorkflowStaticData('global');\nconst keys = Object.keys(store.broadcast || {});\nif (!keys.length) {\n  return [{ json: { to: $items('Set Params', 0, 0)[0].json.operatorTo, message: \"No hay métricas registradas.\" } }];\n}\nconst id = keys.sort().slice(-1)[0];\nconst m = store.broadcast[id];\n\nm.finishedAt = new Date().toISOString();\nm.durationSec = Math.round((new Date(m.finishedAt) - new Date(m.startedAt)) / 1000);\n\nconst summary =\n  `📊 *Resumen envío área ${m.areaId}*\\\\n` +\n  `• Total destinatarios: ${m.total}\\\\n` +\n  `• Enviados OK: ${m.sent}\\\\n` +\n  `• Inválidos: ${m.invalid}\\\\n` +\n  `• Fallidos: ${m.failed}\\\\n` +\n  `• Duración: ${m.durationSec}s\\\\n` +\n  `• ID: ${id}`;\n\nreturn [{ json: { to: $items('Set Params', 0, 0)[0].json.operatorTo, message: summary } }];\n"
      },
      "id": "a0427dd3-a239-42fc-95a3-2b33df8e774f",
      "name": "Function Build Summary",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1440,
        384
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params', 0, 0)[0].json.evBase}}/message/sendText/{{$items('Set Params', 0, 0)[0].json.evInstance}}",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "={\"apikey\": $items('Set Params', 0, 0)[0].json.evApikey, \"Content-Type\": \"application/json\"}"
      },
      "id": "cf3bc48c-cbf6-4c76-9d85-8a04459fd1cd",
      "name": "Send Summary (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1680,
        384
      ]
    },
    {
      "parameters": {
        "functionCode": "const s=this.getWorkflowStaticData('global'); s.broadcast={}; return items;"
      },
      "id": "f91692fd-1a06-47e4-9d1f-241d891dfb72",
      "name": "Function Cleanup",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1920,
        384
      ]
    }
  ],
  "connections": {
    "Cron 22:10": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Set Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Params": {
      "main": [
        [
          {
            "node": "HTTP GetUnidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GetUnidad": {
      "main": [
        [
          {
            "node": "Function Expand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function Expand": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "IF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Text": {
      "main": [
        [
          {
            "node": "Send Text (HTTP)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Image": {
      "main": [
        [
          {
            "node": "Send Image (HTTP)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Document": {
      "main": [
        [
          {
            "node": "Send Document (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text (HTTP)": {
      "main": [
        [
          {
            "node": "Function Tally",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Image (HTTP)": {
      "main": [
        [
          {
            "node": "Function Tally",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Document (HTTP)": {
      "main": [
        [
          {
            "node": "Function Tally",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function Tally": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function Build Summary": {
      "main": [
        [
          {
            "node": "Send Summary (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary (HTTP)": {
      "main": [
        [
          {
            "node": "Function Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Cron 22:10": [
      {
        "json": {}
      }
    ]
  },
  "versionId": "d1acf0ec-dae5-405e-9259-e4037e5c6678",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-03T03:24:36.767Z",
      "createdAt": "2025-09-03T03:24:36.767Z",
      "role": "workflow:owner",
      "workflowId": "8s5gcOq5gxC3NVWN",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}