workflows/2025-11-26_01-01-10_Marcaciones.json
{
  "updatedAt": "2025-10-21T19:26:01.000Z",
  "createdAt": "2025-10-21T19:07:17.857Z",
  "id": "PfGuA5zZYUbFqpwB",
  "name": "Marcaciones",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "evInstance",
              "value": "mm"
            },
            {
              "name": "areaId",
              "value": "3"
            },
            {
              "name": "adminNumber",
              "value": "59172896612"
            },
            {
              "name": "reportBase",
              "value": "https://jasper.envibol.site:8443/jasperserver/rest_v2/reports/Reports/ENVIBOL/RRHH/Asistencia.pdf"
            },
            {
              "name": "jUser",
              "value": "envibol"
            },
            {
              "name": "jPass",
              "value": "123456789"
            }
          ]
        },
        "options": {}
      },
      "id": "d419bec7-ae73-408d-8498-3dc0c826d0ce",
      "name": "Set Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2128,
        0
      ]
    },
    {
      "parameters": {},
      "id": "6e0bfcd4-d8a0-4d33-8dd6-a1ce00deed7c",
      "name": "Set Report Dates",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        -2032,
        192
      ],
      "notesInFlow": true,
      "functionCode": "// Primer y último día del mes anterior\nconst today = new Date();\nconst first = new Date(today.getFullYear(), today.getMonth()-1, 1);\nconst last  = new Date(today.getFullYear(), today.getMonth(), 0);\nconst pad = n => String(n).padStart(2,'0');\nconst fmt = d => `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}`;\nreturn [{ fecha_inicio: fmt(first), fecha_fin: fmt(last) }];",
      "notes": "YYYY-MM-DD (mes anterior)"
    },
    {
      "parameters": {
        "url": "https://apirrhh.envibol.site/api/v1/N8n/Areas",
        "options": {}
      },
      "id": "fe3468e0-b7b9-4403-9ed6-3aaa70f68c9e",
      "name": "HTTP Areas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1936,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://apirrhh.envibol.site/api/v1/N8n/GetUnidad/' + $node[\"Set Params\"].json.areaId }}",
        "options": {}
      },
      "id": "12e622ed-efae-4343-aa2c-9f00f5a74195",
      "name": "HTTP GetUnidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1744,
        0
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "f6d46a2f-0136-465f-bcec-6651dc222f6d",
      "name": "Split Out Items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -1568,
        0
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "areaName",
              "value": "={{ (function(){ const areas = ($item(0).$node[\"HTTP Areas\"].json.data || []); const id = Number($item(0).$node[\"Set Params\"].json.areaId); const a = areas.find(x => x.idgenClasificador === id) || {}; return (a.descripcion || '').trim(); })() }}"
            },
            {
              "name": "fullName",
              "value": "={{ [$json.nombre].filter(Boolean).join(' ').replace(/\\s+/g,' ').trim() }}"
            },
            {
              "name": "number",
              "value": "={{ String($json.celular || '').replace(/\\D/g,'') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d712a086-a78c-46d9-93e3-e232e1d7c0e9",
      "name": "Set Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1392,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{ '¡Hola, ' + $json.fullName + '! 👋\\n' + 'Buenos días y un excelente inicio de jornada. En ENVIBOL, valoramos mucho tu compromiso en el área de ' + $json.areaName + '. 💪\\n¡A darlo todo hoy! 🚀' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "26068f60-603f-43f6-b8a7-cc097bc6b2f2",
      "name": "Set Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1216,
        0
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "reportUrl",
              "value": "={{ (function(){ const base=$item(0).$node[\"Set Params\"].json.reportBase; const ju=$item(0).$node[\"Set Params\"].json.jUser; const jp=$item(0).$node[\"Set Params\"].json.jPass; const fi=($item(0).$node[\"Set Report Dates\"]?.json?.fecha_inicio)||'2025-08-01'; const ff=($item(0).$node[\"Set Report Dates\"]?.json?.fecha_fin)||'2025-08-31'; const nombre=encodeURIComponent($json.fullName||''); return `${base}?j_username=${ju}&j_password=${jp}&fecha_inicio=${fi}&fecha_fin=${ff}&nombre_apellido=${nombre}`; })() }}"
            },
            {
              "name": "fileName",
              "value": "={{ 'Asistencia_' + ($json.fullName || 'empleado') + '.pdf' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dfc66e20-b116-4e21-8925-eaf127e192fb",
      "name": "Set Report URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1216,
        160
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.reportUrl }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "e000c6ec-76f6-4b96-a033-379493c9967d",
      "name": "HTTP Report (PDF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1024,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "valida-telefono-01",
              "leftValue": "={{ $json.number }}",
              "rightValue": "^(591)?[67]\\d{7}$",
              "operator": {
                "type": "string",
                "operation": "regex",
                "name": "filter.operator.regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5ad0bab4-e0d4-490d-88c7-8b36a783be7d",
      "name": "IF Tel válido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1024,
        0
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $item(0).$node[\"Set Params\"].json.evInstance }}",
        "remoteJid": "={{ $json.number + '@s.whatsapp.net' }}",
        "messageText": "={{ $json.message }}",
        "options_message": {
          "delay": 3000
        }
      },
      "id": "79ef22ec-d321-4bcd-bec3-af47f708edd2",
      "name": "Evolution API: Enviar texto",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -832,
        -48
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "mmmmm"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $item(0).$node[\"Set Params\"].json.evInstance }}",
        "remoteJid": "={{ $json.number + '@s.whatsapp.net' }}",
        "options_message": {
          "delay": 3000
        }
      },
      "id": "69466588-97a2-4a0b-a22b-c83a68eb6eec",
      "name": "Evolution API: Enviar PDF",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -624,
        160
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "mmmmm"
        }
      },
      "notes": "Envía el binario `data` descargado del HTTP."
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "NO_ENVIADO_TEL_INVALIDO"
            },
            {
              "name": "log",
              "value": "={{ $json.number + ' · ' + $json.fullName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "95b6fbbc-d9fe-4524-a0ee-2010c4018e94",
      "name": "Set invalid (log)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -832,
        112
      ]
    }
  ],
  "connections": {
    "Set Params": {
      "main": [
        [
          {
            "node": "HTTP Areas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Areas": {
      "main": [
        [
          {
            "node": "HTTP GetUnidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GetUnidad": {
      "main": [
        [
          {
            "node": "Split Out Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Items": {
      "main": [
        [
          {
            "node": "Set Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Normalize": {
      "main": [
        [
          {
            "node": "Set Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message": {
      "main": [
        [
          {
            "node": "IF Tel válido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tel válido": {
      "main": [
        [
          {
            "node": "Evolution API: Enviar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set invalid (log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Report URL": {
      "main": [
        [
          {
            "node": "HTTP Report (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Report (PDF)": {
      "main": [
        [
          {
            "node": "Evolution API: Enviar PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API: Enviar texto": {
      "main": [
        [
          {
            "node": "Evolution API: Enviar PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "57df2b5d-96fd-4f15-b5c2-5a10b7a0aa3b",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-21T19:07:17.865Z",
      "createdAt": "2025-10-21T19:07:17.865Z",
      "role": "workflow:owner",
      "workflowId": "PfGuA5zZYUbFqpwB",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}