workflows/2025-12-01_01-01-19_conrepor.json
{
  "updatedAt": "2025-09-08T18:24:58.000Z",
  "createdAt": "2025-09-08T16:53:15.018Z",
  "id": "R6PltbMw8uAiGg1C",
  "name": "conrepor",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "389dba59-9f1e-41cc-b616-98f6ecf9b7b6",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1456,
        64
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "evInstance",
              "value": "mm"
            },
            {
              "name": "areaId",
              "value": "3"
            },
            {
              "name": "adminNumber",
              "value": "59177112393"
            },
            {
              "name": "evBaseUrl",
              "value": "https://hooks.ril.serviciocliente.site"
            },
            {
              "name": "evApiKey",
              "value": "471D0C16CA24-4397-A5EE-F596DB01669E"
            }
          ]
        },
        "options": {}
      },
      "id": "0a1de6ef-de14-4519-83c3-2abdb40a74ea",
      "name": "Set Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1280,
        64
      ]
    },
    {
      "parameters": {
        "url": "https://apirrhh.envibol.site/api/v1/N8n/Areas",
        "options": {}
      },
      "id": "1660c21f-d047-478f-94b7-ef1359a4a367",
      "name": "HTTP Areas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1088,
        64
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://apirrhh.envibol.site/api/v1/N8n/GetUnidad/' + $node[\"Set Params\"].json.areaId }}",
        "options": {}
      },
      "id": "ba50a307-cbbc-48ec-9166-79314b47135d",
      "name": "HTTP GetUnidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -896,
        64
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "f71670cf-5714-4ba6-b3b5-924c711f6037",
      "name": "Split Out Items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -720,
        64
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "areaName",
              "value": "={{ (function(){ const areas = ($item(0).$node[\"HTTP Areas\"].json.data || []); const id = Number($item(0).$node[\"Set Params\"].json.areaId); const a = areas.find(x => x.idgenClasificador === id) || {}; return (a.descripcion || '').trim(); })() }}"
            },
            {
              "name": "fullName",
              "value": "={{ [$json.nombre].filter(Boolean).join(' ').replace(/\\s+/g,' ').trim() }}"
            },
            {
              "name": "number",
              "value": "={{ String($json.celular || '').replace(/\\D/g,'') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cac12f99-15ff-4e20-8b17-207952405994",
      "name": "Set Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -544,
        64
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{ '隆Hola, ' + $json.fullName + '! \\n\\nBuenos d铆as y un excelente inicio de jornada. En ENVIBOL, valoramos mucho tu compromiso en el 谩rea de ' + $json.areaName + '. ' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "04e400f8-2f4c-417c-9ade-d4c2005221b1",
      "name": "Set Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -368,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1edd6e70-77ec-46e5-a346-cf44f76e18ba",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11dab38c-2c03-4cfb-9d82-3d9a34570390",
      "name": "IF Tel v谩lido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -176,
        64
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $item(0).$node[\"Set Params\"].json.evInstance }}",
        "remoteJid": "={{ $json.number + '@s.whatsapp.net' }}",
        "messageText": "={{ $json.message }}",
        "options_message": {
          "delay": 3000
        }
      },
      "id": "edc4d32b-b4ef-4202-84d8-c617291d12af",
      "name": "Evolution API: Enviar texto",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "ENVIADO"
            },
            {
              "name": "log",
              "value": "={{ $item(0).$node[\"Set Normalize\"].json.number + ' 路 ' + $item(0).$node[\"Set Normalize\"].json.fullName }}"
            },
            {
              "name": "msgId",
              "value": "={{ $json.data?.key?.id || $json.key?.id }}"
            },
            {
              "name": "waStatus",
              "value": "={{ $json.status || $json.data?.status }}"
            },
            {
              "name": "remoteJid",
              "value": "={{ $json.data?.key?.remoteJid || $json.key?.remoteJid || ($item(0).$node[\"Set Normalize\"].json.number + '@s.whatsapp.net') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "48565011-9133-42be-81c8-8666eba7de2e",
      "name": "Set Sent (log)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(0).$node[\"Set Params\"].json.evBaseUrl + '/chat/findStatusMessage/' + $item(0).$node[\"Set Params\"].json.evInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "8ade7733-bc5e-4954-952d-6bd8b0a27a3b",
      "name": "HTTP: findStatusMessage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "finalStatus",
              "value": "={{ ($json.data?.[0]?.status || $json[0]?.status || $json.status || 'PENDING') }}"
            },
            {
              "name": "delivered",
              "value": "={{ ['DELIVERY_ACK','READ'].includes(($json.data?.[0]?.status || $json[0]?.status || $json.status || '').toUpperCase()) ? 'true':'false' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "100c1a1b-52a5-470f-94c8-cb0a0538876a",
      "name": "Set Delivered?",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        832,
        0
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "NO_ENVIADO_TEL_INVALIDO"
            },
            {
              "name": "log",
              "value": "={{ $item(0).$node[\"Set Normalize\"].json.number + ' 路 ' + $item(0).$node[\"Set Normalize\"].json.fullName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5e9540e2-e254-42fc-b22a-d5eb4420718b",
      "name": "Set invalid (log)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {},
      "id": "51b6d96d-a934-4357-bfd3-af781b8da5de",
      "name": "Merge Logs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1040,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet enviados=0, noEnviados=0, entregados=0;\nfor (const it of items) {\n  const st = (it.json.status || '').toUpperCase();\n  if (st === 'ENVIADO') enviados++;\n  if (['NO_ENVIADO_TEL_INVALIDO','NO_ENVIADO','ERROR'].includes(st)) noEnviados++;\n  if ((it.json.delivered||'').toString() === 'true') entregados++;\n}\nconst area = $item(0).$node['Set Normalize'].json.areaName || 'planificaci贸n';\nconst reportText = `titulo: Reporte de ${area} (motivaci贸n)\\n` +\n`enviados: ${enviados}\\n` + `no enviados: ${noEnviados}\\n` + `entregados: ${entregados}`;\nreturn [{ json: { reportText } }];\n"
      },
      "id": "1c522884-20a3-415c-9435-2f2afc1d3bf1",
      "name": "Code 路 Build Report Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        64
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $item(0).$node[\"Set Params\"].json.evInstance }}",
        "remoteJid": "={{ $item(0).$node[\"Set Params\"].json.adminNumber + '@s.whatsapp.net' }}",
        "options_message": {}
      },
      "id": "8cbbfb25-87a2-4fec-a8f3-4c7709ec694f",
      "name": "Evolution API: Enviar resumen",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1424,
        64
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "skipped",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "29a8f4b4-dd0d-4ee5-938b-bda893de6f85",
      "name": "No-op (tel inv谩lido)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "94ec5580-22b9-4e20-a43a-509fbd366dae",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "webhookId": "7c0b3aea-85e2-4847-a0f7-24713afed5d2"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Params": {
      "main": [
        [
          {
            "node": "HTTP Areas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Areas": {
      "main": [
        [
          {
            "node": "HTTP GetUnidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GetUnidad": {
      "main": [
        [
          {
            "node": "Split Out Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Items": {
      "main": [
        [
          {
            "node": "Set Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Normalize": {
      "main": [
        [
          {
            "node": "Set Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message": {
      "main": [
        [
          {
            "node": "IF Tel v谩lido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tel v谩lido": {
      "main": [
        [
          {
            "node": "Evolution API: Enviar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set invalid (log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API: Enviar texto": {
      "main": [
        [
          {
            "node": "Set Sent (log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sent (log)": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: findStatusMessage": {
      "main": [
        [
          {
            "node": "Set Delivered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Delivered?": {
      "main": [
        [
          {
            "node": "Merge Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set invalid (log)": {
      "main": [
        [
          {
            "node": "Merge Logs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Logs": {
      "main": [
        [
          {
            "node": "Code 路 Build Report Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code 路 Build Report Text": {
      "main": [
        [
          {
            "node": "Evolution API: Enviar resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "HTTP: findStatusMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1a6d684c-afb3-4e7c-b45f-915734fc8f2f",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-08T16:53:15.023Z",
      "createdAt": "2025-09-08T16:53:15.023Z",
      "role": "workflow:owner",
      "workflowId": "R6PltbMw8uAiGg1C",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}