workflows/2025-11-24_20-33-15_My workflow 37.json
{
  "updatedAt": "2025-09-08T20:38:54.000Z",
  "createdAt": "2025-09-08T20:37:35.465Z",
  "id": "QrqSD3WWxLQTW2oo",
  "name": "My workflow 37",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "aee2eeda-74f6-4877-aca1-6ec8ce4fe7d0",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1456,
        64
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "evInstance",
              "value": "mm"
            },
            {
              "name": "areaId",
              "value": "3"
            },
            {
              "name": "adminNumber",
              "value": "59177112393"
            },
            {
              "name": "evBaseUrl",
              "value": "https://hooks.ril.serviciocliente.site"
            },
            {
              "name": "evApiKey",
              "value": "471D0C16CA24-4397-A5EE-F596DB01669E"
            }
          ]
        },
        "options": {}
      },
      "id": "735f9e18-dce0-4966-8e22-aad201bc7cd6",
      "name": "Set Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1280,
        64
      ]
    },
    {
      "parameters": {
        "url": "https://apirrhh.envibol.site/api/v1/N8n/Areas",
        "options": {}
      },
      "id": "ad07366b-b5cd-46eb-b5a3-56279e82fbde",
      "name": "HTTP Areas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1088,
        64
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://apirrhh.envibol.site/api/v1/N8n/GetUnidad/' + $node[\"Set Params\"].json.areaId }}",
        "options": {}
      },
      "id": "c6552f70-5570-4463-897a-bf89baa4930c",
      "name": "HTTP GetUnidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -896,
        64
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "e29b899e-7cf6-4ce9-afd7-a326bcc88908",
      "name": "Split Out Items",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -720,
        64
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "areaName",
              "value": "={{ (function(){ const areas = ($item(0).$node[\"HTTP Areas\"].json.data || []); const id = Number($item(0).$node[\"Set Params\"].json.areaId); const a = areas.find(x => x.idgenClasificador === id) || {}; return (a.descripcion || '').trim(); })() }}"
            },
            {
              "name": "fullName",
              "value": "={{ [$json.nombre].filter(Boolean).join(' ').replace(/\\s+/g,' ').trim() }}"
            },
            {
              "name": "number",
              "value": "={{ String($json.celular || '').replace(/\\D/g,'') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b6fa4791-5316-4c7b-8731-cfed540c075a",
      "name": "Set Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -544,
        64
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{ '隆Hola, ' + $json.fullName + '! \\n\\nBuenos d铆as y un excelente inicio de jornada. En ENVIBOL, valoramos mucho tu compromiso en el 谩rea de ' + $json.areaName + '. ' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "22b741b3-ea17-44dc-ba5a-f123813f62b8",
      "name": "Set Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -368,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.number }}",
              "operation": "regex",
              "value2": "^591\\d{8}$"
            }
          ]
        },
        "options": {}
      },
      "id": "2bb1a457-fdaa-4d8c-a70d-df7e2587c4f2",
      "name": "IF Tel v谩lido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -176,
        64
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $item(0).$node[\"Set Params\"].json.evInstance }}",
        "remoteJid": "={{ $json.number + '@s.whatsapp.net' }}",
        "messageText": "={{ $json.message }}",
        "options_message": {
          "delay": 4000
        }
      },
      "id": "4a7b8796-ff9f-48a9-b92d-468f2f0066a9",
      "name": "Evolution API: Enviar texto",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "ENVIADO"
            },
            {
              "name": "log",
              "value": "={{ $item(0).$node[\"Set Normalize\"].json.number + ' 路 ' + $item(0).$node[\"Set Normalize\"].json.fullName }}"
            },
            {
              "name": "msgId",
              "value": "={{ $json.data?.key?.id || $json.key?.id }}"
            },
            {
              "name": "waStatus",
              "value": "={{ $json.status || $json.data?.status }}"
            },
            {
              "name": "remoteJid",
              "value": "={{ $json.data?.key?.remoteJid || $json.key?.remoteJid || ($item(0).$node[\"Set Normalize\"].json.number + '@s.whatsapp.net') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f4fc10-638a-4db4-88fd-2b0e96235a5d",
      "name": "Set Sent (log)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(0).$node[\"Set Params\"].json.evBaseUrl + '/chat/findStatusMessage/' + $item(0).$node[\"Set Params\"].json.evInstance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "1933a883-9409-4710-a36e-050f8ea94d84",
      "name": "HTTP: findStatusMessage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "finalStatus",
              "value": "={{ ($json.data?.[0]?.status || $json[0]?.status || $json.status || 'PENDING') }}"
            },
            {
              "name": "delivered",
              "value": "={{ ['DELIVERY_ACK','READ'].includes(($json.data?.[0]?.status || $json[0]?.status || $json.status || '').toUpperCase()) ? 'true':'false' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a2e1d4b-a058-44ad-9802-64afb38a45a4",
      "name": "Set Delivered?",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        832,
        0
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "NO_ENVIADO_TEL_INVALIDO"
            },
            {
              "name": "log",
              "value": "={{ $item(0).$node[\"Set Normalize\"].json.number + ' 路 ' + $item(0).$node[\"Set Normalize\"].json.fullName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cac16878-cb32-4fc8-bdc5-5f86dbdae702",
      "name": "Set invalid (log)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {},
      "id": "dce6a903-60de-418a-bd5b-0c8de9febe9a",
      "name": "Merge Logs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1040,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet enviados=0, noEnviados=0, entregados=0;\nfor (const it of items) {\n  const st = (it.json.status || '').toUpperCase();\n  if (st === 'ENVIADO') enviados++;\n  if (['NO_ENVIADO_TEL_INVALIDO','NO_ENVIADO','ERROR'].includes(st)) noEnviados++;\n  if ((it.json.delivered||'').toString() === 'true') entregados++;\n}\nconst area = $item(0).$node['Set Normalize'].json.areaName || 'planificaci贸n';\nconst reportText = `titulo: Reporte de ${area} (motivaci贸n)\\n` +\n`enviados: ${enviados}\\n` + `no enviados: ${noEnviados}\\n` + `entregados: ${entregados}`;\nreturn [{ json: { reportText } }];\n"
      },
      "id": "bc48eafc-449b-4ba8-b6ac-39930a200625",
      "name": "Code 路 Build Report Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        64
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $item(0).$node[\"Set Params\"].json.evInstance }}",
        "remoteJid": "={{ $item(0).$node[\"Set Params\"].json.adminNumber + '@s.whatsapp.net' }}",
        "options_message": {}
      },
      "id": "1233914b-20e5-41a7-8dd4-d54df8983ab9",
      "name": "Evolution API: Enviar resumen",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1424,
        64
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "skipped",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "4e5fc86c-6db5-42b3-8e26-607dc9eb3629",
      "name": "No-op (tel inv谩lido)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "de49f1e2-2060-4697-8bf8-e2c712b24b36",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "webhookId": "7c0b3aea-85e2-4847-a0f7-24713afed5d2"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Params": {
      "main": [
        [
          {
            "node": "HTTP Areas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Areas": {
      "main": [
        [
          {
            "node": "HTTP GetUnidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GetUnidad": {
      "main": [
        [
          {
            "node": "Split Out Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Items": {
      "main": [
        [
          {
            "node": "Set Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Normalize": {
      "main": [
        [
          {
            "node": "Set Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Message": {
      "main": [
        [
          {
            "node": "IF Tel v谩lido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tel v谩lido": {
      "main": [
        [
          {
            "node": "Evolution API: Enviar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set invalid (log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API: Enviar texto": {
      "main": [
        [
          {
            "node": "Set Sent (log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sent (log)": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: findStatusMessage": {
      "main": [
        [
          {
            "node": "Set Delivered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Delivered?": {
      "main": [
        [
          {
            "node": "Merge Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set invalid (log)": {
      "main": [
        [
          {
            "node": "Merge Logs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Logs": {
      "main": [
        [
          {
            "node": "Code 路 Build Report Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code 路 Build Report Text": {
      "main": [
        [
          {
            "node": "Evolution API: Enviar resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "HTTP: findStatusMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "79ff253d-ef1a-45fd-90f6-5bcf55ec8898",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-08T20:37:35.468Z",
      "createdAt": "2025-09-08T20:37:35.468Z",
      "role": "workflow:owner",
      "workflowId": "QrqSD3WWxLQTW2oo",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}