workflows/2025-12-02_01-00-06_promov1.2_ok copy.json
{
  "updatedAt": "2025-11-14T15:09:17.000Z",
  "createdAt": "2025-11-05T02:17:40.364Z",
  "id": "2UvRWTwJyqbVEss3",
  "name": "promov1.2_ok copy",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Subir archivo Excel e imagen",
        "formDescription": "Carga tu archivo Excel con los contactos y la imagen a enviar por WhatsApp.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Archivo Excel",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            },
            {
              "fieldLabel": "Imagen a enviar",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".jpg,.jpeg,.png",
              "requiredField": true
            }
          ]
        },
        "options": {},
        "path": "0d5ea0f5-8e9b-4055-91d1-e47d3858695d"
      },
      "id": "95f83be2-1187-4981-8f27-1c21c618fa23",
      "name": "Subir archivo e imagen",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -704,
        -48
      ],
      "webhookId": "0d5ea0f5-8e9b-4055-91d1-e47d3858695d"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Archivo_Excel",
        "options": {}
      },
      "id": "86215fd4-6a54-47c4-8e9f-6f066c1e6eae",
      "name": "Leer Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -448,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "function normalizeBoliviaMobile(raw) {\n  if (!raw) return null;\n  let s = String(raw).trim().replace(/[^0-9]/g, '');\n  if (s.startsWith('00')) s = s.slice(2);\n  if (s.startsWith('591')) s = s.slice(3);\n  if (s.length === 9 && s.startsWith('0')) s = s.slice(1);\n  if (s.length > 8) s = s.slice(-8);\n  if (s.length !== 8 || !/^[67]/.test(s)) return null;\n  const full = '591' + s;\n  if (!/^\\d{11}$/.test(full)) return null;\n  return full;\n}\n\nconst seen = new Set();\nconst out = [];\nfor (const item of items) {\n  const tel = normalizeBoliviaMobile(item.json.telefono);\n  if (!tel || seen.has(tel)) continue;\n  seen.add(tel);\n  out.push({ json: { nombre: item.json.nombre, telefono: tel } });\n}\nreturn out;"
      },
      "id": "6a601e9b-609b-4637-bba2-11cfa7b490b1",
      "name": "Limpiar teléfonos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener los datos binarios de la imagen\nconst binaryData = items[0].binary['Imagen_a_enviar'];\nif (!binaryData) {\n  throw new Error('No se encontró el archivo de imagen en la entrada.');\n}\nconst base64String = binaryData.data;\nreturn [\n  {\n    json: {\n      imagenBase64: base64String,\n      mimeType: binaryData.mimeType,\n      fileName: binaryData.fileName\n    }\n  }\n];"
      },
      "id": "be689250-aaf5-4654-bdae-86347ffe7b65",
      "name": "Convertir imagen a Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -32
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "914c2c3b-7611-4a9a-addf-03a4a79f9b53",
      "name": "Combinar datos e imagen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -48,
        -112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "caption",
              "type": "string",
              "value": "={{`*${$json.nombre}* \\n☕🍫 ¡ENVIBOL presente en la FeXco Café y Cacao!\\n📍 Recinto Ferial Alalay – Cochabamba\\n🗓 Del 21 al 23 de noviembre\\nSi eres parte de la industria del café, cacao o alimentos, esta es tu oportunidad para conocer nuestros envases de vidrio y adquirirlos a precio por mayor 🛍️\\n🙌 ¡Te esperamos para seguir fortaleciendo la producción nacional!\\n❤️💛💚 ¡Hecho en Bolivia, con orgullo! 🇧🇴`}}",
              "id": "6a4ea48b-7288-4c68-ba01-2018c3e535f2"
            },
            {
              "name": "to",
              "type": "string",
              "value": "={{$json.telefono}}",
              "id": "8cacb8d4-4436-4cad-a042-48cc323d5bc6"
            },
            {
              "name": "imagenBase64",
              "type": "string",
              "value": "={{$json.imagenBase64}}",
              "id": "164bc088-3e5e-406e-bb86-5a5152062fe4"
            }
          ]
        },
        "options": {}
      },
      "id": "a6e5ae27-4d4f-4297-b84b-6ba81d826d34",
      "name": "Preparar mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        -208
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "079c72c3-cc6f-4d63-8bdf-c290d0b108ed",
      "name": "Enviar uno por uno",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        352,
        -112
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "Envibol",
        "remoteJid": "={{$json.to}}",
        "media": "={{$json.imagenBase64}}",
        "caption": "={{$json.caption}}",
        "options_message": {
          "delay": 5000
        }
      },
      "id": "4150a9df-3324-444a-a236-9d5b547cda9e",
      "name": "Enviar imagen WhatsApp",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        560,
        -128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "evolutionApi": {
          "id": "W1x347goQjF9uCPr",
          "name": "Envibol"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 5) + 4 }}",
        "unit": "seconds",
        "path": "27352a1c-0cc1-4a7a-bc6f-ca0a7e7a826d"
      },
      "id": "4b481bb9-e93c-42c6-9f36-d767d5b42332",
      "name": "Esperar 5 segundos",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        752,
        -112
      ],
      "webhookId": "27352a1c-0cc1-4a7a-bc6f-ca0a7e7a826d"
    }
  ],
  "connections": {
    "Subir archivo e imagen": {
      "main": [
        [
          {
            "node": "Leer Excel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convertir imagen a Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Excel": {
      "main": [
        [
          {
            "node": "Limpiar teléfonos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar teléfonos": {
      "main": [
        [
          {
            "node": "Combinar datos e imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir imagen a Base64": {
      "main": [
        [
          {
            "node": "Combinar datos e imagen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combinar datos e imagen": {
      "main": [
        [
          {
            "node": "Preparar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar mensaje": {
      "main": [
        [
          {
            "node": "Enviar uno por uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar uno por uno": {
      "main": [
        [
          {
            "node": "Enviar imagen WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar imagen WhatsApp": {
      "main": [
        [
          {
            "node": "Esperar 5 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 5 segundos": {
      "main": [
        [
          {
            "node": "Enviar uno por uno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "dd626b05-ee34-4bae-97b0-0555d67b2446",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-05T02:17:40.372Z",
      "createdAt": "2025-11-05T02:17:40.372Z",
      "role": "workflow:owner",
      "workflowId": "2UvRWTwJyqbVEss3",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}