workflows/2025-11-24_20-32-41_My workflow 21.json
{
  "updatedAt": "2025-09-04T15:15:43.000Z",
  "createdAt": "2025-09-03T23:27:28.799Z",
  "id": "DYW5BBa1KO3j3KxN",
  "name": "My workflow 21",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "id": "0d8a8774-8ccc-46dd-9849-cfa49f5554d4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        208
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "evBase",
              "value": "https://hooks.ril.serviciocliente.site"
            },
            {
              "name": "evInstance",
              "value": "mm"
            },
            {
              "name": "evApikey",
              "value": "471D0C16CA24-4397-A5EE-F596DB01669E"
            },
            {
              "name": "to",
              "value": "59172888185"
            },
            {
              "name": "message",
              "value": "Prueba desde n8n ✅"
            }
          ]
        },
        "options": {}
      },
      "id": "22477aee-308d-484a-9235-93afe4863b8c",
      "name": "Set Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -288,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/message/sendText",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "481be241-df5a-40a9-9dca-162b772aa5c9",
      "name": "Attempt 1 /message/sendText (body)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "85d36392-da0f-4405-83e5-dd91a3df95a7",
      "name": "IF 1 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/message/sendText//{{$items('Set Params',0,0)[0].json.evInstance}}",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "71524807-00b9-4c32-8b1a-eaa79c8b209a",
      "name": "Attempt 2 /message/sendText/{instance}",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "d554d3ed-458d-4791-ad38-0ec6a91e7254",
      "name": "IF 2 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        96
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/messages/sendText",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "bc5b1fb5-35b2-4f13-b0ee-4178fc7e3e2d",
      "name": "Attempt 3 /messages/sendText (body plural)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "bc879c87-dc5c-4f84-847a-33efd10d5c33",
      "name": "IF 3 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        192
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/messages/sendText//{{$items('Set Params',0,0)[0].json.evInstance}}",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "dcc89c16-f8da-42e8-95c7-8c6a89b5a912",
      "name": "Attempt 4 /messages/sendText/{instance}",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "7c1edbe8-53d2-4934-b735-c0e03d7f9760",
      "name": "IF 4 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        272
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/message/send",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "a5cef82b-e584-466d-8484-f43b988a54a1",
      "name": "Attempt 5 /message/send (body)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "b45a00a5-78b5-4538-a37d-d118464e2682",
      "name": "IF 5 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        368
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/messages/send//{{$items('Set Params',0,0)[0].json.evInstance}}",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "73931f3d-5e7a-4633-8ad2-fec4f75c329b",
      "name": "Attempt 6 /messages/send/{instance}",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "6d66830e-62f1-4eeb-b27c-9cba707d57a8",
      "name": "IF 6 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        464
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/message/text",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "4c08640d-4510-4533-ad09-4cbc2f181bb4",
      "name": "Attempt 7 /message/text (body)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "aa6e98e2-8a7e-4a0f-bb32-823f1bc2bb63",
      "name": "IF 7 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        544
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/messages/text//{{$items('Set Params',0,0)[0].json.evInstance}}",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "46fc70a0-23f5-4f3d-b5f7-b2bcb3386697",
      "name": "Attempt 8 /messages/text/{instance}",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "871877e2-ce6e-429f-99d4-36dfe9a45581",
      "name": "IF 8 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        640
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/api/message/sendText",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "4917dcaa-d6e0-44b8-8284-8f91a8c5ad6b",
      "name": "Attempt 9 /api/message/sendText (body)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "7e104e87-4703-4ede-a43a-2828bb3b360d",
      "name": "IF 9 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        720
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/api/messages/sendText//{{$items('Set Params',0,0)[0].json.evInstance}}",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "9ac6e4d2-896a-4ca2-a16e-289b340eef95",
      "name": "Attempt 10 /api/messages/sendText/{instance}",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        816
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "c2d24aed-29d8-4b39-99f3-b375518ea5e1",
      "name": "IF 10 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        816
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/v1/message/sendText",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "53825e18-df0c-494d-aa4c-15479550f8ca",
      "name": "Attempt 11 /v1/message/sendText (body)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        912
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "d72b2100-5cef-4896-97e8-986a9e661441",
      "name": "IF 11 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        912
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/evolution/message/sendText//{{$items('Set Params',0,0)[0].json.evInstance}}",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "c9361b5b-baab-4107-af63-f832b3f5ebf6",
      "name": "Attempt 12 /evolution/message/sendText/{instance}",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        992
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "f6b99c60-a331-4e09-a7b2-87cb88dadb98",
      "name": "IF 12 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        992
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/whatsapp/message/sendText",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "cae77af1-07c3-46b7-970b-756e6b45854b",
      "name": "Attempt 13 /whatsapp/message/sendText (body)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        1088
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "2e2b0745-8015-4698-8b46-1d402ba9f4b0",
      "name": "IF 13 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        1088
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/message/send-text",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "b88226ae-53e2-4bb7-9925-6a73c4f6a8b9",
      "name": "Attempt 14 /message/send-text (kebab)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        1184
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "1182628c-8003-4bd7-9d65-962dcc407584",
      "name": "IF 14 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        1184
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/messages/send-text//{{$items('Set Params',0,0)[0].json.evInstance}}",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "ef44be1d-b8e3-49c2-8633-682018bf61c6",
      "name": "Attempt 15 /messages/send-text/{instance}",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        1264
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "0d2e5f3c-02d2-491d-b750-2d5a56793e59",
      "name": "IF 15 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        1264
      ]
    },
    {
      "parameters": {
        "url": "={{$items('Set Params',0,0)[0].json.evBase}}/message/sendText?instance=/{{$items('Set Params',0,0)[0].json.evInstance}}&number={{$items('Set Params',0,0)[0].json.to}}&text={{$items('Set Params',0,0)[0].json.message}}",
        "jsonParameters": true,
        "options": {
          "fullResponse": true,
          "followRedirect": false,
          "ignoreResponseCode": true
        },
        "headerParametersJson": "={{ JSON.stringify({ apikey: $items('Set Params',0,0)[0].json.evApikey, 'Content-Type': 'application/json' }) }}"
      },
      "id": "46f95981-c87d-41e5-af1b-493a503286f4",
      "name": "Attempt 16 GET /message/sendText?query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        1360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "larger",
              "value2": 199
            },
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        },
        "options": {}
      },
      "id": "8502d2a8-328f-4dbd-91ae-94c98120dbdb",
      "name": "IF 16 2xx?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        272,
        1360
      ]
    },
    {
      "parameters": {},
      "id": "6e657cf7-eeaf-4833-aa41-ee3c9d6bf4e0",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        528,
        64
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Params": {
      "main": [
        [
          {
            "node": "Attempt 1 /message/sendText (body)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 1 /message/sendText (body)": {
      "main": [
        [
          {
            "node": "IF 1 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 1 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attempt 2 /message/sendText/{instance}",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 2 /message/sendText/{instance}": {
      "main": [
        [
          {
            "node": "IF 2 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 2 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attempt 3 /messages/sendText (body plural)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 3 /messages/sendText (body plural)": {
      "main": [
        [
          {
            "node": "IF 3 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 3 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attempt 4 /messages/sendText/{instance}",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 4 /messages/sendText/{instance}": {
      "main": [
        [
          {
            "node": "IF 4 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 4 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attempt 5 /message/send (body)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 5 /message/send (body)": {
      "main": [
        [
          {
            "node": "IF 5 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 5 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attempt 6 /messages/send/{instance}",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 6 /messages/send/{instance}": {
      "main": [
        [
          {
            "node": "IF 6 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 6 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attempt 7 /message/text (body)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 7 /message/text (body)": {
      "main": [
        [
          {
            "node": "IF 7 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 7 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attempt 8 /messages/text/{instance}",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 8 /messages/text/{instance}": {
      "main": [
        [
          {
            "node": "IF 8 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 8 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attempt 9 /api/message/sendText (body)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 9 /api/message/sendText (body)": {
      "main": [
        [
          {
            "node": "IF 9 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 9 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attempt 10 /api/messages/sendText/{instance}",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 10 /api/messages/sendText/{instance}": {
      "main": [
        [
          {
            "node": "IF 10 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 10 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attempt 11 /v1/message/sendText (body)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 11 /v1/message/sendText (body)": {
      "main": [
        [
          {
            "node": "IF 11 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 11 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attempt 12 /evolution/message/sendText/{instance}",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 12 /evolution/message/sendText/{instance}": {
      "main": [
        [
          {
            "node": "IF 12 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 12 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attempt 13 /whatsapp/message/sendText (body)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 13 /whatsapp/message/sendText (body)": {
      "main": [
        [
          {
            "node": "IF 13 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 13 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attempt 14 /message/send-text (kebab)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 14 /message/send-text (kebab)": {
      "main": [
        [
          {
            "node": "IF 14 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 14 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attempt 15 /messages/send-text/{instance}",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 15 /messages/send-text/{instance}": {
      "main": [
        [
          {
            "node": "IF 15 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 15 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Attempt 16 GET /message/sendText?query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attempt 16 GET /message/sendText?query": {
      "main": [
        [
          {
            "node": "IF 16 2xx?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF 16 2xx?": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "716f920a-94cc-4539-b644-58193b82b0a3",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-03T23:27:28.807Z",
      "createdAt": "2025-09-03T23:27:28.807Z",
      "role": "workflow:owner",
      "workflowId": "DYW5BBa1KO3j3KxN",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}