workflows/2025-11-26_01-00-39_Marcacion Gerencia pdf.json
{
  "updatedAt": "2025-10-22T18:36:01.000Z",
  "createdAt": "2025-10-22T18:04:07.713Z",
  "id": "Cjtp8ttRFVvAg4NV",
  "name": "Marcacion Gerencia pdf",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "link",
              "value": "https://jasper.envibol.site:8443/jasperserver/rest_v2/reports/Reports/ENVIBOL/RRHH/Asistencia.pdf?j_username=envibol&j_password=123456789&fecha_inicio=2025-09-20&fecha_fin=2025-10-20&nombre_apellido=FERNANDO%20DARIO%20SALINAS%20FERNANDEZ"
            },
            {
              "name": "fileName",
              "value": "Asistencia_FERNANDO_SALINAS.pdf"
            }
          ]
        },
        "options": {}
      },
      "id": "09012ce5-4cee-446c-b97d-a2a0b200bd76",
      "name": "Set Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -112,
        -96
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "09a77003-1f60-4da5-8da2-58a67dcca8ce",
      "name": "HTTP PDF (descargar)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        112,
        -96
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "ZK37Sa8PSI8N09II",
          "name": "jasper rrhh"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Toma el PDF descargado por HTTP Request y expone el Base64 en json.b64\n# sin re-encode (binary.data.data ya es Base64 en n8n).\n\nsalida = []\nfor item in _input.all():\n    binary = item.get('binary', {}).get('data', {})\n    b64 = binary.get('data')  # <- ya es str en Base64\n    file_name = binary.get('fileName') or 'document.pdf'\n    mime = binary.get('mimeType') or 'application/pdf'\n\n    if not b64:\n        continue\n\n    out_json = dict(item.json or {})\n    out_json['b64'] = b64\n    out_json['fileName'] = file_name\n    out_json['mimeType'] = mime\n\n    salida.append({\"json\": out_json})\n\nreturn salida"
      },
      "id": "62bd6f64-15f5-460e-bd6f-b4764eb8a720",
      "name": "PDF a Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -96
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-document",
        "instanceName": "={{ $node[\"Set Params\"].json.evInstance || 'mm' }}",
        "remoteJid": "=59167670158",
        "media": "={{ $json.b64 }}",
        "caption": "=Marcaciones",
        "fileName": "={{ $json.fileName }}",
        "options_message": {
          "delay": 6000
        }
      },
      "id": "31bbc72f-866c-49aa-aef8-71294e28836a",
      "name": "Enviar documento (Evolution)",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        512,
        -96
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "mmmmm"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -96
      ],
      "id": "089dbbbe-cc9e-4941-891d-8c488cd9ae2d",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Set Params": {
      "main": [
        [
          {
            "node": "HTTP PDF (descargar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP PDF (descargar)": {
      "main": [
        [
          {
            "node": "PDF a Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF a Base64": {
      "main": [
        [
          {
            "node": "Enviar documento (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "654024f1-ca8d-46b8-adbb-a50c25bf5740",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-22T18:04:07.714Z",
      "createdAt": "2025-10-22T18:04:07.714Z",
      "role": "workflow:owner",
      "workflowId": "Cjtp8ttRFVvAg4NV",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}