workflows/2025-11-29_01-01-08_UPDOWN.json
{
  "updatedAt": "2025-10-08T03:22:37.000Z",
  "createdAt": "2025-09-24T15:03:38.129Z",
  "id": "Ne6V3QwawCTScV76",
  "name": "UPDOWN",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"alerta\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "faa51c75-cbf4-4aa4-bb62-e66def11c6c2",
      "name": "IF - ¿Hay alerta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -240,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO p2p_alertas_log (\n  fecha_evento, compra_now, compra_prev, venta_now, venta_prev,\n  delta_compra, delta_venta, umbral, mensaje\n) VALUES (\n  '{{$json[\"fecha_evento\"].substring(0,19).replace(\"T\",\" \")}}',\n  {{$json[\"compra_now\"]}},\n  {{$json[\"compra_prev\"]}},\n  {{$json[\"venta_now\"]}},\n  {{$json[\"venta_prev\"]}},\n  {{$json[\"delta_compra\"]}},\n  {{$json[\"delta_venta\"]}},\n  {{$json[\"umbral\"]}},\n  '{{$json[\"mensaje\"]}}'\n);"
      },
      "id": "db0b968f-d9ba-41c8-a3ca-c799fbe59e7a",
      "name": "MySQL - Registrar alerta",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        0,
        -48
      ],
      "credentials": {
        "mySql": {
          "id": "E3NXQrJaLGKMyUsb",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// === Umbrales ===\nconst SEND_MIN = 0.01;   // envía desde ±0.01\nconst INT_ABS_1 = 0.05;  // leve/moderada\nconst INT_ABS_2 = 0.15;  // moderada/fuerte\n\nconst r = items[0].json;\n\n// Helpers\nfunction toNum(v, fb = null) {\n  const n = v === null || v === undefined ? NaN : parseFloat(v);\n  if (Number.isFinite(n)) return n;\n  return fb !== null ? fb : 0;\n}\nconst toCents = (x) => Math.round(toNum(x) * 100);\nconst fmt2 = (n) => Number(n).toFixed(2);\nconst sgn  = (d) => d >= 0 ? '+' : '';\nconst arrow = (d) => d > 0 ? '↗️' : (d < 0 ? '↘️' : '↔️');\n\n// Valores con fallback (si no hay previo, usa el actual)\nconst compra_now = toNum(r.compra_ahora);\nconst compra_prev = toNum(r.compra_prev, compra_now);\nconst venta_now  = toNum(r.venta_ahora);\nconst venta_prev = toNum(r.venta_prev,  venta_now);\n\n// Deltas en centavos (robusto a flotantes)\nconst dc_cents = toCents(compra_now) - toCents(compra_prev);\nconst dv_cents = toCents(venta_now)  - toCents(venta_prev);\n\n// Deltas numéricos para mostrar/guardar\nconst delta_compra_raw = dc_cents / 100;\nconst delta_venta_raw  = dv_cents / 100;\n\n// Regla de envío: cualquier cambio de ±0.01\nconst shouldSend = Math.abs(dc_cents) >= 1 || Math.abs(dv_cents) >= 1;\n\n// Intensidad (para log/uso futuro)\nfunction intensidad(absDelta) {\n  if (absDelta >= 1.00) return 'critica+';\n  if (absDelta >= 0.50) return 'critica';\n  if (absDelta >= 0.20) return 'muy_fuerte';\n  if (absDelta >= 0.15) return 'fuerte';\n  if (absDelta >= 0.10) return 'moderada+';\n  if (absDelta >= 0.05) return 'moderada';\n  if (absDelta >= 0.03) return 'leve+';\n  if (absDelta >= 0.02) return 'leve';\n  if (absDelta >= 0.01) return 'minima';\n  return 'sin_cambio';\n}\nconst intensidad_compra = intensidad(Math.abs(delta_compra_raw));\nconst intensidad_venta  = intensidad(Math.abs(delta_venta_raw));\n\n// Texto corto de alerta (para el IF/registro)\nlet mensajes = [];\nif (Math.abs(dc_cents) >= 1) {\n  mensajes.push(`${delta_compra_raw >= 0 ? '⬆️' : '⬇️'} Cambio COMPRA ${delta_compra_raw >= 0 ? 'alza' : 'baja'}: ${fmt2(compra_prev)} → ${fmt2(compra_now)} (Δ ${sgn(delta_compra_raw)}${Math.abs(delta_compra_raw).toFixed(2)})`);\n}\nif (Math.abs(dv_cents) >= 1) {\n  mensajes.push(`${delta_venta_raw >= 0 ? '⬆️' : '⬇️'} Cambio VENTA ${delta_venta_raw >= 0 ? 'alza' : 'baja'}: ${fmt2(venta_prev)} → ${fmt2(venta_now)} (Δ ${sgn(delta_venta_raw)}${Math.abs(delta_venta_raw).toFixed(2)})`);\n}\nconst alerta = shouldSend ? mensajes.join('\\n') : null;\n\n// Fecha local\nconst fechaStr = (() => {\n  const d = r.fecha_consulta ? new Date(r.fecha_consulta) : new Date();\n  try { return d.toLocaleString('es-BO', { timeZone: 'America/La_Paz' }); }\n  catch { return d.toISOString(); }\n})();\n\n// Plantilla final (la tuya)\nconst mensaje = [\n  `⚡ Compra: (${arrow(delta_compra_raw)} Δ ${sgn(delta_compra_raw)}${Math.abs(delta_compra_raw).toFixed(2)})`,\n  `🟢 ${fmt2(compra_prev)} → ${fmt2(compra_now)}`,\n  `⚡ Venta : (${arrow(delta_venta_raw)} Δ ${sgn(delta_venta_raw)}${Math.abs(delta_venta_raw).toFixed(2)})`,\n  `🔴 ${fmt2(venta_prev)} → ${fmt2(venta_now)}`,\n  '━━━━━━━━━━━━━',\n  '🔗 https://datos.solucionesdatosbo.com/',\n  `🗓️ Fecha: ${fechaStr}`\n].join('\\n');\n\nreturn [{\n  alerta,                     // sigue alimentando el IF\n  mensaje,                    // texto final para WhatsApp\n  compra_now, compra_prev,\n  venta_now,  venta_prev,\n  delta_compra: +delta_compra_raw.toFixed(4),\n  delta_venta:  +delta_venta_raw.toFixed(4),\n  fecha_evento: r.fecha_consulta,\n  umbral: SEND_MIN,\n  intensidad_compra, intensidad_venta,\n  compra_ahora_ts: r.compra_ahora_ts,\n  venta_ahora_ts:  r.venta_ahora_ts\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        32
      ],
      "id": "3f6d6b65-426d-4063-a9c5-bb3bd3861149",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "mm",
        "remoteJid": "59167670158",
        "messageText": "={{ $json.mensaje }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        0,
        144
      ],
      "id": "19820342-3f45-4d8b-9909-f4b16f21e879",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -912,
        32
      ],
      "id": "6d6e8ed7-a38a-41d4-9781-84ecf24a3981",
      "name": "15 MIN"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT precio     FROM compra_bob ORDER BY fecha_hora DESC LIMIT 1) AS compra_ahora,\n  (SELECT fecha_hora FROM compra_bob ORDER BY fecha_hora DESC LIMIT 1) AS compra_ahora_ts,\n  (SELECT precio FROM compra_bob\n     WHERE fecha_hora < (SELECT MAX(fecha_hora) FROM compra_bob)\n     ORDER BY fecha_hora DESC LIMIT 1) AS compra_prev,\n\n  (SELECT precio     FROM venta_bob  ORDER BY fecha_hora DESC LIMIT 1) AS venta_ahora,\n  (SELECT fecha_hora FROM venta_bob  ORDER BY fecha_hora DESC LIMIT 1) AS venta_ahora_ts,\n  (SELECT precio FROM venta_bob\n     WHERE fecha_hora < (SELECT MAX(fecha_hora) FROM venta_bob)\n     ORDER BY fecha_hora DESC LIMIT 1) AS venta_prev,\n\n  NOW() AS fecha_consulta;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -688,
        32
      ],
      "id": "f98bda1e-dfd4-4ba2-a5be-61f29519bc01",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "E3NXQrJaLGKMyUsb",
          "name": "MySQL account"
        }
      }
    }
  ],
  "connections": {
    "IF - ¿Hay alerta?": {
      "main": [
        [
          {
            "node": "MySQL - Registrar alerta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "IF - ¿Hay alerta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15 MIN": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:15 MIN": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1964a11c-30e0-4ccb-87f0-f12011653411",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-24T15:03:38.136Z",
      "createdAt": "2025-09-24T15:03:38.136Z",
      "role": "workflow:owner",
      "workflowId": "Ne6V3QwawCTScV76",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}