workflows/ENVIBOL - Enviar link Jasper (mensual).json
{
  "updatedAt": "2025-10-21T01:57:16.000Z",
  "createdAt": "2025-10-21T01:53:44.233Z",
  "id": "PjVu4ANY5JWyLIlv",
  "name": "ENVIBOL - Enviar link Jasper (mensual)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "51c3d8cd-d5f3-4f73-a47f-fb5a33f38d31",
      "name": "Disparador manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        176,
        848
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "MJde5DqJ5pIBpGx7",
          "mode": "list",
          "cachedResultName": "Despachos",
          "cachedResultUrl": "/projects/DLCF6dMNvaWDIOVx/datatables/MJde5DqJ5pIBpGx7"
        }
      },
      "id": "f7471f3f-652a-4ebf-b0be-35283a8fb2c9",
      "name": "Get row(s) - Despachos",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        416,
        848
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Genera mensaje + link Jasper para MARZO 2025 (rango) y normaliza números\nDEFAULT_CC = '591'\n\ndef only_digits(s: str) -> str:\n    return ''.join(ch for ch in str(s) if ch.isdigit())\n\nitems_in = _input.all()\nif not items_in:\n    return []\n\n# RANGO fijo solicitado: MARZO 2025\nfecha_ini = '2025-03-01'\nfecha_fin  = '2025-03-31'\nperiodo_legible = '01/03/2025 – 31/03/2025'\n\n# Enlace Jasper con rango (usa credenciales en URL por ahora, como pediste)\nlink = (\n    'http://sisub.subsidio.gob.bo:9090/jasperserver/rest_v2/reports/reports/'\n    'ENVIBOL/REPORTES_DIARIOS/RESUMEN_DE_DESPACHOS.pdf'\n    f'?fechaIni={fecha_ini}&fechaFin={fecha_fin}&j_username=sedem&j_password=123456789'\n)\n\nsalida = []\nfor item in items_in:\n    nombre = item.json.get('Nombre') or item.json.get('nombre', '')\n    numero = only_digits(item.json.get('numero', ''))\n    if numero.startswith(('6', '7')):\n        numero = DEFAULT_CC + numero\n\n    texto = (\n        f'📦 *Reporte de Despachos — MARZO 2025* ({periodo_legible})\\n\\n'\n        f'👋 Hola *{nombre}*,\\n\\n'\n        f'🔗 Descargar (rango mensual): {link}\\n\\n'\n        f'Atentamente,\\n*ENVIBOL* 🏭'\n    )\n\n    salida.append({'json': {'number': numero, 'text': texto, 'link': link}})\n\nreturn salida"
      },
      "id": "d3988521-22c3-4ad6-b8b1-5147aa7729a5",
      "name": "Formatear mensaje (Python)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        848
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "bbdca403-989a-44da-93b2-65eaccacc73d",
      "name": "Split por registro",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        880,
        848
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-document",
        "instanceName": "mm",
        "remoteJid": "={{ $json.number }}",
        "media": "={{ $json.link }}",
        "caption": "Reporte Diario de Despachos (Marzo)",
        "fileName": "DESPACHOS_MENSUAL.pdf",
        "options_message": {
          "delay": 6000
        }
      },
      "id": "7c9d367e-373c-449b-8082-515294710bbb",
      "name": "Enviar texto (Evolution)",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1104,
        848
      ],
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "mmmmm"
        }
      }
    },
    {
      "parameters": {},
      "id": "6d90755c-a554-4b6b-bd55-c2e76ae214fe",
      "name": "Continuar lote",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1296,
        848
      ]
    }
  ],
  "connections": {
    "Disparador manual": {
      "main": [
        [
          {
            "node": "Get row(s) - Despachos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) - Despachos": {
      "main": [
        [
          {
            "node": "Formatear mensaje (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear mensaje (Python)": {
      "main": [
        [
          {
            "node": "Split por registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split por registro": {
      "main": [
        [
          {
            "node": "Enviar texto (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto (Evolution)": {
      "main": [
        [
          {
            "node": "Continuar lote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuar lote": {
      "main": [
        [
          {
            "node": "Split por registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3047aa01-7dbc-4c46-b889-9817ab826289",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-21T01:53:44.244Z",
      "createdAt": "2025-10-21T01:53:44.244Z",
      "role": "workflow:owner",
      "workflowId": "PjVu4ANY5JWyLIlv",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}