workflows/envio_v1_excel_dep.json
{
  "updatedAt": "2025-10-30T17:43:56.000Z",
  "createdAt": "2025-10-30T17:29:24.542Z",
  "id": "BSylzeY7s3RV7DRS",
  "name": "envio_v1_excel_dep",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Subir archivo Excel e imagen",
        "formDescription": "Carga tu archivo Excel con los contactos y la imagen que se enviará.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Archivo Excel",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            },
            {
              "fieldLabel": "Imagen_a_enviar",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".jpg,.jpeg,.png",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -448,
        240
      ],
      "id": "f0a00e80-9c6a-45ec-ac20-f354fac8b9f7",
      "name": "Subir archivo e imagen",
      "webhookId": "1fa2eef9-45fb-470c-ab68-c524ef7b5d1e"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Archivo_Excel",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ],
      "id": "3d607fcb-aff9-4afa-86ed-9c57a6c3faa2",
      "name": "Leer Excel"
    },
    {
      "parameters": {
        "jsCode": "function normalizeBoliviaMobile(raw) {\n  if (!raw) return null;\n  let s = String(raw).trim().replace(/[^0-9]/g, '');\n  if (s.startsWith('00')) s = s.slice(2);\n  if (s.startsWith('591')) s = s.slice(3);\n  if (s.length === 9 && s.startsWith('0')) s = s.slice(1);\n  if (s.length > 8) s = s.slice(-8);\n  if (s.length !== 8 || !/^[67]/.test(s)) return null;\n  const full = '591' + s;\n  if (!/^\\d{11}$/.test(full)) return null;\n  return full;\n}\n\nconst seen = new Set();\nconst out = [];\nfor (const item of items) {\n  const tel = normalizeBoliviaMobile(item.json.telefono);\n  if (!tel || seen.has(tel)) continue;\n  seen.add(tel);\n  out.push({ json: { nombre: item.json.nombre, telefono: tel } });\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        112
      ],
      "id": "06a5e235-31e7-4b07-a288-1e2abf197126",
      "name": "Limpiar teléfonos"
    },
    {
      "parameters": {
        "jsCode": "// Obtener los datos binarios de la imagen\nconst binaryData = items[0].binary['Imagen_a_enviar'];\n\n// Validar que el archivo exista\nif (!binaryData) {\n  throw new Error('No se encontró el archivo de imagen en la entrada.');\n}\n\n// Convertir a base64\nconst base64String = binaryData.data;\n\n// Retornar como JSON\nreturn [\n  {\n    json: {\n      imagenBase64: base64String,\n      mimeType: binaryData.mimeType,\n      fileName: binaryData.fileName\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        336
      ],
      "id": "3be5ec15-3f3c-4dcf-90e3-b7e171ec8083",
      "name": "Convertir imagen a Base64"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        176
      ],
      "id": "c21fb83d-0877-470d-95e1-32af7fcf41e7",
      "name": "Combinar datos e imagen"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "caption",
              "type": "string",
              "value": "={{`*${$json.nombre}* \\n🍾✨ ¡ENVIBOL presente en la FEIPOBOL!\\n📍 Campo Ferial de Potosí\\n🗓 Del 07 al 16 de noviembre\\nAdquiere nuestros envases de vidrio a precio de mayor 🛍️\\n❤️💛💚 ¡Apoyemos la producción nacional! 🇧🇴`}}"
            },
            {
              "name": "to",
              "type": "string",
              "value": "={{$json.telefono}}"
            },
            {
              "name": "imagenBase64",
              "type": "string",
              "value": "={{$json.imagenBase64}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        176
      ],
      "id": "bc53ae95-b47d-457c-9044-eeb1d4cdd283",
      "name": "Preparar mensaje"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "Envibol",
        "remoteJid": "={{$json.to}}",
        "media": "={{$json.imagenBase64}}",
        "caption": "={{$json.caption}}",
        "options_message": {
          "delay": 10000
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        640,
        176
      ],
      "id": "86073557-3def-4542-9a1f-97545c32422f",
      "name": "Enviar imagen WhatsApp",
      "credentials": {
        "evolutionApi": {
          "id": "W1x347goQjF9uCPr",
          "name": "Envibol"
        }
      }
    }
  ],
  "connections": {
    "Subir archivo e imagen": {
      "main": [
        [
          {
            "node": "Leer Excel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Convertir imagen a Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Excel": {
      "main": [
        [
          {
            "node": "Limpiar teléfonos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar teléfonos": {
      "main": [
        [
          {
            "node": "Combinar datos e imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir imagen a Base64": {
      "main": [
        [
          {
            "node": "Combinar datos e imagen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combinar datos e imagen": {
      "main": [
        [
          {
            "node": "Preparar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar mensaje": {
      "main": [
        [
          {
            "node": "Enviar imagen WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "12329b7c-4f0f-4587-9444-9663e1cef287",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-30T17:29:24.549Z",
      "createdAt": "2025-10-30T17:29:24.549Z",
      "role": "workflow:owner",
      "workflowId": "BSylzeY7s3RV7DRS",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}