workflows/My workflow 50.json
{
  "updatedAt": "2025-09-22T17:37:46.000Z",
  "createdAt": "2025-09-22T17:14:04.213Z",
  "id": "NhPjbSAiXWLmRu0F",
  "name": "My workflow 50",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "e294d5c2-7819-473d-ad00-abd7ab5955e7",
      "name": "Cron 15m",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1008,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://p2p.binance.com/bapi/c2c/v2/friendly/c2c/adv/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "rows",
              "value": "20"
            },
            {
              "name": "payTypes",
              "value": "={{ [] }}"
            },
            {
              "name": "asset",
              "value": "USDT"
            },
            {
              "name": "fiat",
              "value": "BOB"
            },
            {
              "name": "tradeType",
              "value": "BUY"
            },
            {
              "name": "publisherType",
              "value": "={{ null }}"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "a883e76f-2b66-4be6-b0ea-16e93018370a",
      "name": "HTTP BUY",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -784,
        208
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "5f9cfa6c-1d03-45f7-b7e2-3fd021c45588",
      "name": "Split BUY (data)",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -560,
        208
      ]
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "id": "aac53e88-74ed-4378-a5b9-faf0347fb510",
      "name": "Limit BUY (2..31)",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -352,
        208
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "captured_at",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "trade_type",
              "value": "BUY"
            },
            {
              "name": "advertiser_name",
              "value": "={{ $json[\"advertiser\"]?.nickName || $json[\"advertiser\"]?.userNo || 'N/A' }}"
            }
          ],
          "number": [
            {
              "name": "price_bob",
              "value": "={{ Number($json[\"adv\"]?.price) }}"
            },
            {
              "name": "available_usdt",
              "value": "={{ Number($json[\"adv\"]?.surplusAmount) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "94d63430-0618-4ac2-a703-c3b80574de78",
      "name": "Set BUY fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -160,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://p2p.binance.com/bapi/c2c/v2/friendly/c2c/adv/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "rows",
              "value": "20"
            },
            {
              "name": "payTypes",
              "value": "={{ [] }}"
            },
            {
              "name": "asset",
              "value": "USDT"
            },
            {
              "name": "fiat",
              "value": "BOB"
            },
            {
              "name": "tradeType",
              "value": "SELL"
            },
            {
              "name": "publisherType",
              "value": "={{ null }}"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "2c7e7821-9c0a-40a7-98e6-4e76f457dcb9",
      "name": "HTTP SELL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -784,
        560
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "396d59d7-c134-448d-ad96-4037fe8dac6f",
      "name": "Split SELL (data)",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -560,
        560
      ]
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "id": "b20dd4c3-3dc4-4d8e-81a7-c5ab940fa772",
      "name": "Limit SELL (2..31)",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -352,
        560
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "captured_at",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "trade_type",
              "value": "SELL"
            },
            {
              "name": "advertiser_name",
              "value": "={{ $json[\"advertiser\"]?.nickName || $json[\"advertiser\"]?.userNo || 'N/A' }}"
            }
          ],
          "number": [
            {
              "name": "price_bob",
              "value": "={{ Number($json[\"adv\"]?.price) }}"
            },
            {
              "name": "available_usdt",
              "value": "={{ Number($json[\"adv\"]?.surplusAmount) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "96a53b43-f2d9-41cf-bdd2-8fe2e0ac9454",
      "name": "Set SELL fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -160,
        560
      ]
    },
    {
      "parameters": {},
      "id": "2bdbc146-78a2-4308-807a-b17e5fe184fc",
      "name": "Merge BUY+SELL",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        64,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Devuelve UN item con json.payload = array limpio y válido\nconst items = $input.all()\n  .map(i => i.json || {})\n  .filter(j =>\n    (j.trade_type === 'BUY' || j.trade_type === 'SELL') &&\n    Number.isFinite(Number(j.price_bob)) &&\n    Number.isFinite(Number(j.available_usdt)) &&\n    j.captured_at\n  )\n  .map(j => ({\n    captured_at: j.captured_at,\n    trade_type: j.trade_type, // BUY / SELL\n    advertiser_name: (j.advertiser_name || '').trim(),\n    price_bob: Number(j.price_bob),\n    available_usdt: Number(j.available_usdt),\n  }));\n\nreturn [{ json: { payload: items } }];"
      },
      "id": "6d5cf22a-96d7-46a4-b494-a4baa4e4d39b",
      "name": "Code in JavaScript (pack payload)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        368
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO p2p.p2p_offers_core\n  (captured_at, trade_type, advertiser_name, price_bob, available_usdt)\nVALUES\n  ($1::timestamptz,\n   $2::p2p.trade_type_enum,\n   $3::text,\n   $4::numeric,\n   $5::numeric)\nON CONFLICT (captured_minute, trade_type, advertiser_name)\nDO UPDATE SET\n  price_bob      = EXCLUDED.price_bob,\n  available_usdt = EXCLUDED.available_usdt,\n  captured_at    = GREATEST(p2p.p2p_offers_core.captured_at, EXCLUDED.captured_at);",
        "options": {
          "queryReplacement": ""
        }
      },
      "id": "7ec2666b-3da0-4f30-942e-6135600a33f9",
      "name": "Postgres (Execute Query, upsert 15m)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        544,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "V2jxq9F8BKdy0BeI",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Cron 15m": {
      "main": [
        [
          {
            "node": "HTTP BUY",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP SELL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP BUY": {
      "main": [
        [
          {
            "node": "Split BUY (data)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split BUY (data)": {
      "main": [
        [
          {
            "node": "Limit BUY (2..31)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit BUY (2..31)": {
      "main": [
        [
          {
            "node": "Set BUY fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP SELL": {
      "main": [
        [
          {
            "node": "Split SELL (data)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split SELL (data)": {
      "main": [
        [
          {
            "node": "Limit SELL (2..31)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit SELL (2..31)": {
      "main": [
        [
          {
            "node": "Set SELL fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set BUY fields": {
      "main": [
        [
          {
            "node": "Merge BUY+SELL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set SELL fields": {
      "main": [
        [
          {
            "node": "Merge BUY+SELL",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge BUY+SELL": {
      "main": [
        [
          {
            "node": "Code in JavaScript (pack payload)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript (pack payload)": {
      "main": [
        [
          {
            "node": "Postgres (Execute Query, upsert 15m)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f4e72452-dc51-488e-becd-70fa00e311c5",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-22T17:14:04.219Z",
      "createdAt": "2025-09-22T17:14:04.219Z",
      "role": "workflow:owner",
      "workflowId": "NhPjbSAiXWLmRu0F",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}