workflows/My workflow 65.json
{
  "updatedAt": "2025-10-14T00:06:17.000Z",
  "createdAt": "2025-10-13T22:03:22.030Z",
  "id": "63vstR0bqJYVFqLY",
  "name": "My workflow 65",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        16
      ],
      "id": "b80ad7ca-2241-4f4a-9ee4-9a5a362d1a7e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-buttons",
        "instanceName": "mm",
        "remoteJid": "59172896612",
        "title": "hola",
        "description": "que tal",
        "buttons": {
          "buttonValues": [
            {
              "type": "url",
              "displayText": "ok",
              "url": "={{ $json.data.message.conversation }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        384,
        16
      ],
      "id": "c917469a-d312-4fa8-aa49-4a4643bcf216",
      "name": "Enviar bot es",
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "mm",
        "remoteJid": "59172896612",
        "messageText": "https://hooks.ril.serviciocliente.site/manager/",
        "options_message": {
          "delay": 6000,
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        176,
        16
      ],
      "id": "320e1541-f07b-481c-92d4-5fa57b121919",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "s2n2zPD1AmMnozJl",
          "name": "Evolution account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Enviar bot es",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "00826c5f-770a-49e9-97ff-f21b3f26c6f6",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-13T22:03:22.032Z",
      "createdAt": "2025-10-13T22:03:22.032Z",
      "role": "workflow:owner",
      "workflowId": "63vstR0bqJYVFqLY",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}