workflows/My workflow 44.json
{
  "updatedAt": "2025-09-23T00:32:20.000Z",
  "createdAt": "2025-09-19T16:05:09.183Z",
  "id": "Fhn6H897DRPpfkKA",
  "name": "My workflow 44",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "d52149d7-28a0-4024-b3b7-fd740bf48d75",
      "name": "Cron 15m",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -432,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://p2p.binance.com/bapi/c2c/v2/friendly/c2c/adv/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "rows",
              "value": "20"
            },
            {
              "name": "payTypes",
              "value": "={{ [] }}"
            },
            {
              "name": "asset",
              "value": "USDT"
            },
            {
              "name": "fiat",
              "value": "BOB"
            },
            {
              "name": "tradeType",
              "value": "BUY"
            },
            {
              "name": "publisherType",
              "value": "={{ null }}"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "b5784899-b714-4ca3-a025-069b5d4f10e0",
      "name": "HTTP BUY",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -208,
        192
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "cb02bb08-7fb6-487e-ba16-416a60e529bb",
      "name": "Split BUY (data)",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        16,
        192
      ]
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "id": "7b6eccf4-8742-4664-a850-0708c96726f5",
      "name": "Limit BUY (2..31)",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "captured_at",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "trade_type",
              "value": "BUY"
            },
            {
              "name": "advertiser_name",
              "value": "={{ $json[\"advertiser\"]?.nickName || $json[\"advertiser\"]?.userNo || 'N/A' }}"
            }
          ],
          "number": [
            {
              "name": "price_bob",
              "value": "={{ Number($json[\"adv\"]?.price) }}"
            },
            {
              "name": "available_usdt",
              "value": "={{ Number($json[\"adv\"]?.surplusAmount) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1fc6ad8-e0a4-4c0e-beb1-136e6e9b3e5b",
      "name": "Set BUY fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        416,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://p2p.binance.com/bapi/c2c/v2/friendly/c2c/adv/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "rows",
              "value": "20"
            },
            {
              "name": "payTypes",
              "value": "={{ [] }}"
            },
            {
              "name": "asset",
              "value": "USDT"
            },
            {
              "name": "fiat",
              "value": "BOB"
            },
            {
              "name": "tradeType",
              "value": "SELL"
            },
            {
              "name": "publisherType",
              "value": "={{ null }}"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "id": "aef50e98-f5f5-48a8-bcf8-952d6021c5c8",
      "name": "HTTP SELL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -208,
        544
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "7593eec3-d398-4bc6-8656-ca4fce1a4653",
      "name": "Split SELL (data)",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        16,
        544
      ]
    },
    {
      "parameters": {
        "maxItems": 30
      },
      "id": "83c5c488-3ea4-4d4d-ab7a-e4c8b8d908fb",
      "name": "Limit SELL (2..31)",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        224,
        544
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "captured_at",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "trade_type",
              "value": "SELL"
            },
            {
              "name": "advertiser_name",
              "value": "={{ $json[\"advertiser\"]?.nickName || $json[\"advertiser\"]?.userNo || 'N/A' }}"
            }
          ],
          "number": [
            {
              "name": "price_bob",
              "value": "={{ Number($json[\"adv\"]?.price) }}"
            },
            {
              "name": "available_usdt",
              "value": "={{ Number($json[\"adv\"]?.surplusAmount) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ad297d96-5bfc-4f29-b3f6-b3c585a85dbe",
      "name": "Set SELL fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        416,
        544
      ]
    },
    {
      "parameters": {},
      "id": "bc9bce1d-94c6-4d99-9629-44cb76fbce79",
      "name": "Merge BUY+SELL",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        640,
        352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO p2p.p2p_offers_core\n  (captured_at, trade_type, advertiser_name, price_bob, available_usdt, captured_minute)\nVALUES\n  (:captured_at::timestamptz,\n   :trade_type::p2p.trade_type_enum,\n   btrim(:advertiser_name),\n   :price_bob::numeric,\n   :available_usdt::numeric,\n   -- bucket de 15 minutos\n   date_trunc('hour', :captured_at::timestamptz)\n   + make_interval(mins => (floor(extract(minute from :captured_at::timestamptz)/15)::int)*15))\nON CONFLICT ON CONSTRAINT uq_core_minute_side_name\nDO NOTHING;",
        "additionalFields": {}
      },
      "id": "a18e58ef-82d4-4636-a0a0-9f2f33669872",
      "name": "Postgres → INSERT",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        880,
        352
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "V2jxq9F8BKdy0BeI",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Cron 15m": {
      "main": [
        [
          {
            "node": "HTTP BUY",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP SELL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP BUY": {
      "main": [
        [
          {
            "node": "Split BUY (data)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split BUY (data)": {
      "main": [
        [
          {
            "node": "Limit BUY (2..31)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit BUY (2..31)": {
      "main": [
        [
          {
            "node": "Set BUY fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP SELL": {
      "main": [
        [
          {
            "node": "Split SELL (data)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split SELL (data)": {
      "main": [
        [
          {
            "node": "Limit SELL (2..31)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit SELL (2..31)": {
      "main": [
        [
          {
            "node": "Set SELL fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set BUY fields": {
      "main": [
        [
          {
            "node": "Merge BUY+SELL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set SELL fields": {
      "main": [
        [
          {
            "node": "Merge BUY+SELL",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge BUY+SELL": {
      "main": [
        [
          {
            "node": "Postgres → INSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "651194df-6abb-49f2-92ac-4ea3bc9dfef5",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-19T16:05:09.190Z",
      "createdAt": "2025-09-19T16:05:09.190Z",
      "role": "workflow:owner",
      "workflowId": "Fhn6H897DRPpfkKA",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}