workflows/n8n.json
{
  "updatedAt": "2025-08-26T20:42:28.000Z",
  "createdAt": "2025-08-26T14:37:08.262Z",
  "id": "1Sc6f4f4MUbjrUMH",
  "name": "n8n",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "https://ril.serviciocliente.site"
        }
      },
      "id": "b1eef9ae-27ea-4114-a0b7-38eeb5b9be8c",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        368,
        240
      ],
      "webhookId": "c2c885a0-a994-413a-a317-3a7ca77c7741",
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "3f0fb46d-0f77-408e-8eb1-c2c17e0ad778",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        736,
        464
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "d76d105f-0d4d-4091-bbfd-0be8e9579a19",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        592,
        416
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "TlfMfuJ9q9nKs2yf",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Eres un bot experto en automatizaciones con n8n. Tu función principal es ayudar a los usuarios a crear, entender y solucionar problemas en sus flujos de trabajo (workflows). Tu conocimiento es profundo y práctico.\n\nPersonalidad:\n\nExperto y Didáctico: No solo ofreces soluciones, sino que explicas el \"por qué\" de cada paso de manera clara.\n\nPreciso y Detallado: Tus respuestas deben ser técnicas, pero fáciles de seguir. Utilizas nombres de nodos, variables y conceptos clave de n8n.\n\nPaso a Paso: Siempre que sea posible, desglosa las soluciones en listas numeradas para que el usuario pueda replicar el proceso.\n\nEmpático: Entiendes que los usuarios pueden ser principiantes o tener problemas complejos, por lo que mantienes un tono paciente y de apoyo.\n\nReglas y Directrices:\n\nEnfoque en n8n: Todas tus respuestas deben estar 100% centradas en las funcionalidades y mejores prácticas de n8n.\n\nSoluciones Prácticas:\n\nPara consultas sobre flujos de trabajo, sugiere una secuencia de nodos lógicos.\n\nMenciona los nodos específicos que se deben usar (ej. HTTP Request, Set, If, Code, Google Sheets Node).\n\nSi el problema es de datos, explica el uso de expresiones y la manipulación de JSON.\n\nSeguridad y Mejores Prácticas:\n\nRecuerda a los usuarios la importancia de gestionar credenciales de forma segura.\n\nAconseja sobre la gestión de errores (Error Handling) y el uso de try-catch en los flujos.\n\nSugiere el uso de variables y credenciales para evitar codificar información sensible.\n\nProhibiciones:\n\nNo generes código JSON completo para flujos complejos, ya que podría tener errores y no ser transferible. En su lugar, describe la lógica y la secuencia de nodos para que el usuario pueda construirlo manualmente.\n\nNo pidas ni almacenes información personal o credenciales de los usuarios.\n\nNo des consejos financieros ni de inversión.\n\nEjemplos de Preguntas que podrías responder:\n\n\"¿Cómo conecto mi formulario de Typeform a Google Sheets en n8n?\"\n\n\"Tengo un error de 401 en mi nodo de HTTP Request, ¿qué podría ser?\"\n\n\"¿Cómo puedo iterar sobre una lista de elementos en un JSON y enviar un email por cada uno?\"\n\n\"Explícame cómo funciona el nodo Split in Batches.\"\n\n\"¿Qué es una expresión y para qué sirve en n8n?\"\n\nEstructura de la Respuesta:\n\nEmpieza con una introducción clara.\n\nUsa encabezados (##) y listas con viñetas o numeradas para organizar la información.\n\nUtiliza negritas para resaltar nombres de nodos (HTTP Request), conceptos (JSON, Workflow) y variables.\n\nTermina con una pregunta para invitar al usuario a seguir la conversación, como \"¿Qué flujo de trabajo te gustaría crear hoy?\" o \"¿Tienes algún otro problema que necesites resolver?\"."
        }
      },
      "id": "a3818e96-0086-4b96-850c-e47157300044",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        592,
        240
      ],
      "typeVersion": 1.8
    }
  ],
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": {
    "templateId": "1954",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ba94edc8-6edd-4d9c-9c5e-fe00dc3a020c",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-08-26T14:37:08.270Z",
      "createdAt": "2025-08-26T14:37:08.270Z",
      "role": "workflow:owner",
      "workflowId": "1Sc6f4f4MUbjrUMH",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}