workflows/Postgres seg_usuario ➜ WhatsApp (Evolution API).json
{
  "updatedAt": "2025-10-08T01:13:43.000Z",
  "createdAt": "2025-10-08T01:01:48.332Z",
  "id": "LUBHmtbjVhtIBQkJ",
  "name": "Postgres seg_usuario ➜ WhatsApp (Evolution API)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "63edca34-2d09-4cdf-beed-e370206c02e6",
      "name": "Disparador manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * from seg_usuario",
        "options": {}
      },
      "id": "332543f0-eec9-42fe-80b4-f1971b86aa2b",
      "name": "Postgres (seg_usuario)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        272,
        0
      ],
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "35H1FB0uk1gnLC70",
          "name": "Postgres account 2"
        }
      },
      "notes": "Usa **tus credenciales de Postgres** ya existentes al importar.\n- Host/DB/Usuario iguales a tu conexión (la captura muestra 'Postgres account 2').\n- Edita la **query** para mapear `telefono` a tu columna real (p.ej. `s.celular`)."
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Formatea salida para Evolution API\n# Configuración rápida aquí (puedes moverla a variables globales si prefieres)\nBASE_URL = \"https://TU_HOST_EVOLUTION\"   # p.ej. https://evo.midominio.com\nTOKEN    = \"TU_TOKEN_EVOLUTION\"          # Bearer token si aplica\nCOUNTRY_CODE = \"591\"                     # Bolivia por defecto\nDEFAULT_NUMBER = \"70000000\"              # fallback si no hay telefono en la fila\n\ndef only_digits(s: str) -> str:\n  return \"\".join(ch for ch in str(s) if ch.isdigit())\n\nitems_in = _input.all()\nout = []\nfor it in items_in:\n  row = it.json\n  # Usa 'telefono' de la query; si viene vacío, usa DEFAULT_NUMBER\n  raw_phone = row.get(\"telefono\") or DEFAULT_NUMBER\n  local = only_digits(raw_phone)\n  number = f\"{COUNTRY_CODE}{local}\" if not local.startswith(COUNTRY_CODE) else local\n\n  nombre = (row.get(\"nombre\") or \"\").strip()\n  contrasena = (row.get(\"contrasena\") or \"\").strip()\n\n  text = f\"Hola {nombre}, tu acceso está habilitado. Clave: {contrasena}\"\n\n  out.append({\n    \"json\": {\n      \"number\": number,\n      \"text\": text,\n      \"baseUrl\": BASE_URL,\n      \"token\": TOKEN\n    }\n  })\n\nreturn out\n"
      },
      "id": "cf399294-9be6-40ca-aa7d-bdc1616fd3fa",
      "name": "Formatear mensaje (Python)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        0
      ],
      "notesInFlow": true,
      "notes": "Edita BASE_URL y TOKEN para tu Evolution API. El texto del mensaje es personalizable."
    },
    {
      "parameters": {
        "url": "={{$json[\"baseUrl\"] + \"/message/sendText\"}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "4ea6230b-ae95-44d5-a59f-61cc7e0e3903",
      "name": "Evolution API (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        784,
        0
      ],
      "notesInFlow": true,
      "notes": "Si tu Evolution usa otro endpoint, cambia la URL o el cuerpo.\nEjemplo alterno común: /message/sendText"
    }
  ],
  "connections": {
    "Disparador manual": {
      "main": [
        [
          {
            "node": "Postgres (seg_usuario)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres (seg_usuario)": {
      "main": [
        [
          {
            "node": "Formatear mensaje (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear mensaje (Python)": {
      "main": [
        [
          {
            "node": "Evolution API (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e36c563c-63ed-4289-b1c2-89df5d510aee",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-08T01:01:48.340Z",
      "createdAt": "2025-10-08T01:01:48.340Z",
      "role": "workflow:owner",
      "workflowId": "LUBHmtbjVhtIBQkJ",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}