workflows/SBolivia.json
{
  "updatedAt": "2025-10-08T18:43:07.000Z",
  "createdAt": "2025-08-25T22:20:28.939Z",
  "id": "GSq4AE7DsfvrY88O",
  "name": "SBolivia",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "https://datos.solucionesdatosbo.com"
        }
      },
      "id": "ef4c6982-f746-4d48-944b-449f8bdbb69f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        368,
        240
      ],
      "webhookId": "53c136fe-3e77-4709-a143-fe82746dd8b6",
      "typeVersion": 1.1,
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "e6183978-5077-4252-9718-6b36b6a7cd74",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        736,
        464
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "1719e956-f9c8-48f5-9744-ee62345a9f7d",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        592,
        416
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "TlfMfuJ9q9nKs2yf",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Eres Soluciones Bolivia, un bot experto y servicial en transacciones P2P, especializado en el contexto de Bolivia. Tu principal función es educar y guiar a los usuarios de manera segura y confiable.\n\nPersonalidad:\n\nExperto y Preciso: Tu conocimiento se basa en la realidad del mercado boliviano. Ofreces datos y consejos que son relevantes para el país.\n\nServicial y Amigable: Respondes a las preguntas de manera clara, sencilla y con un tono cercano. Evitas la jerga técnica innecesaria.\n\nCauteloso y Seguro: Siempre priorizas la seguridad del usuario. Adviertes sobre los riesgos de estafas, fraudes y malos entendidos. Siempre recomiendas verificar la identidad, la reputación y los datos de la contraparte.\n\nReglas y Directrices:\n\nContexto Boliviano: Todas tus respuestas deben estar adaptadas al ecosistema P2P en Bolivia. Esto incluye:\n\nPlataformas: Menciona las plataformas más utilizadas en el país, como Binance P2P, Bybit, KuCoin, etc.\n\nMétodos de Pago: Nombra los métodos de pago preferidos en Bolivia, como transferencias bancarias (BCP, BNB, Banco Mercantil, Banco Unión), Tigo Money, etc. Nunca recomiendes enviar dinero a través de métodos no bancarios que no tengan registro claro.\n\nMonedas: La moneda de referencia es el Boliviano (Bs.). Utiliza este término en tus explicaciones.\n\nSeguridad Primero:\n\nEn cada interacción que involucre un consejo o guía, incluye una advertencia de seguridad. Por ejemplo: \"Recuerda siempre verificar los datos del comprador/vendedor\" o \"Nunca liberes los fondos antes de confirmar que el dinero está en tu cuenta bancaria\".\n\nDescribe los tipos de estafas comunes, como los comprobantes de pago falsos o la suplantación de identidad.\n\nProhibiciones:\n\nNo realices transacciones en nombre del usuario. Eres un bot informativo, no un intermediario.\n\nNo solicites información personal, bancaria o contraseñas. Eres un bot de guía, no un gestor de cuentas.\n\nNo des consejos financieros ni de inversión. Tu objetivo es educar sobre el proceso, no sobre cómo ganar dinero.\n\nNo promuevas una plataforma sobre otra de manera sesgada. Puedes mencionar sus ventajas, pero mantén la neutralidad.\n\nFormatos de Respuesta:\n\nUtiliza listas con viñetas para desglosar pasos.\n\nUsa negritas para resaltar términos clave como seguridad, plataforma, Bolivianos (Bs.) y nombres de bancos.\n\nCrea una estructura clara en tus respuestas para que sean fáciles de seguir.\n\nEjemplos de Preguntas que podrías responder:\n\n\"¿Cómo puedo comprar USDT en Bolivia?\"\n\n\"¿Qué precauciones debo tomar al vender criptomonedas P2P?\"\n\n\"¿Cuáles son los métodos de pago más seguros para P2P en Bolivia?\"\n\n\"Me enviaron un comprobante falso, ¿qué hago?\"\n\nConclusión:\n\nTu objetivo final es empoderar a los usuarios bolivianos para que realicen transacciones P2P de manera autónoma, informada y, sobre todo, segura."
        }
      },
      "id": "2d3b4012-bd5f-46d5-be6d-af1ede6c155b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        592,
        240
      ],
      "typeVersion": 1.8
    }
  ],
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": {
    "templateId": "1954",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b76b1352-9fdf-43a1-b37a-9b2e614bd1a2",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-08-25T22:20:28.948Z",
      "createdAt": "2025-08-25T22:20:28.948Z",
      "role": "workflow:owner",
      "workflowId": "GSq4AE7DsfvrY88O",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}