workflows/sendmsj DL.json
{
  "updatedAt": "2025-10-09T02:23:30.000Z",
  "createdAt": "2025-10-08T01:38:26.114Z",
  "id": "RoUwX921MDQl0pVB",
  "name": "sendmsj DL",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "1b0e6cf7-2ce3-41e0-ad0e-f607751fdf0c",
      "name": "Disparador manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  s.usuario::text          AS usuario,\n  s.telefono::text         AS telefono,       -- si no existe, puedes omitir y usar usuario\n  s.nombre,\n  s.apellido_paterno,\n  s.apellido_materno,\n  s.municipio,\n  s.\"nombre_recinto\"       AS nombre_recinto,\n  s.estado\nFROM seg_usuario s\nWHERE s.estado = true;",
        "options": {}
      },
      "id": "ba215c2c-0d48-4c0a-b076-8cb45a3e6ab2",
      "name": "Postgres (leer 1 usuario)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        512,
        0
      ],
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "35H1FB0uk1gnLC70",
          "name": "Postgres account 2"
        }
      },
      "notes": "Selecciona tus **credenciales de Postgres** al importar este flujo."
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# n8n Code in Python (Beta) - Run once for all items\n# Construye {number, text, baseUrl, token} para Evolution API con tu plantilla\n\nDEFAULT_CC = \"591\"  # prefijo pa칤s (Bolivia)\n\ndef only_digits(s: str) -> str:\n    return \"\".join(ch for ch in str(s) if ch.isdigit())\n\nitems_in = _input.all()\nif not items_in:\n    return []\n\n# Toma config opcional del primer item (si la pasas con un Set)\ncfg_src = items_in[0].json\ncc        = str(cfg_src.get(\"country_code\", DEFAULT_CC))\nbase_url  = cfg_src.get(\"evo_base_url\", \"\")\ntoken     = cfg_src.get(\"evo_token\", \"\")\ntarget    = only_digits(cfg_src.get(\"target_usuario\", \"\"))  # opcional: para enviar a uno solo\n\nout = []\nfor it in items_in:\n    r = it.json\n\n    # n칰mero local: usa telefono o usuario\n    telefono_local = only_digits(r.get(\"telefono\") or r.get(\"usuario\") or \"\")\n    if not telefono_local:\n        continue\n    if target and telefono_local != target:\n        continue\n\n    # n칰mero con prefijo para enviar\n    number = telefono_local if telefono_local.startswith(cc) else f\"{cc}{telefono_local}\"\n\n    nombre     = (r.get(\"nombre\") or \"\").strip()\n    ap_pat     = (r.get(\"apellido_paterno\") or \"\").strip()\n    ap_mat     = (r.get(\"apellido_materno\") or \"\").strip()\n    municipio  = (r.get(\"municipio\") or \"\").strip()\n    recinto    = (r.get(\"nombre_recinto\") or r.get(\"recinto\") or \"\").strip()\n\n    # 游댰 Tu plantilla (exacta):\n    # Hola{nombre} {apellido_paterno}, {apellidomaterno} te haz registrado para el {recinto} del {municipio} estas registrado con el numero celular {telefono} favor confirma la informaci칩n y si quieres envianos una foto tuya para tu carnet\n    texto = (\n        f\"Hola {nombre} {ap_pat} {ap_mat}, te has registrado para el {recinto} del {municipio} \"\n        f\"estas registrado con el numero celular {telefono_local} \"\n        f\"favor confirma la informaci칩n y si quieres envianos una foto tuya para tu carnet\"\n    )\n\n    out.append({\n        \"json\": {\n            \"number\": number,     # para Evolution API\n            \"text\": texto,        # mensaje final\n            \"baseUrl\": base_url,  # lo usar치 tu nodo HTTP\n            \"token\": token\n        }\n    })\n\nreturn out"
      },
      "id": "84eaa34f-9aed-4878-bb04-232d5df0cc68",
      "name": "Formatear mensaje (Python)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "notesInFlow": true,
      "notes": "Texto final: \"Hola {nombre} {ap_paterno} {ap_materno}, tu contrase침a es: {contrase침a}.\""
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "DL",
        "remoteJid": "={{ $json.number }}",
        "messageText": "={{ $json.text }}",
        "options_message": {
          "delay": 6000
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        976,
        0
      ],
      "id": "97bd70e4-be74-4722-a922-b744a10f0622",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "XJEGvlLekyA8lBQ3",
          "name": "dasa"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "target_usuario",
              "value": "67670158"
            },
            {
              "name": "country_code",
              "value": "591"
            },
            {
              "name": "evo_base_url",
              "value": "https://TU_HOST_EVOLUTION"
            },
            {
              "name": "evo_token",
              "value": "TU_TOKEN_EVOLUTION"
            }
          ]
        },
        "options": {}
      },
      "id": "ba322880-7e47-4ee5-9693-63b681684df9",
      "name": "Seleccionar objetivo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "notesInFlow": true,
      "notes": "Cambia **target_usuario** al n칰mero (sin prefijo pa칤s) que quieres notificar."
    }
  ],
  "connections": {
    "Disparador manual": {
      "main": [
        [
          {
            "node": "Seleccionar objetivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres (leer 1 usuario)": {
      "main": [
        [
          {
            "node": "Formatear mensaje (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear mensaje (Python)": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleccionar objetivo": {
      "main": [
        [
          {
            "node": "Postgres (leer 1 usuario)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9817869f-6e41-49d7-91ff-92b5f0d346ad",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-08T01:38:26.119Z",
      "createdAt": "2025-10-08T01:38:26.119Z",
      "role": "workflow:owner",
      "workflowId": "RoUwX921MDQl0pVB",
      "projectId": "DLCF6dMNvaWDIOVx"
    }
  ],
  "tags": []
}